/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

* /



/* 1. Textual divisions */
/* line 25, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
body.style-fds-html {
  background: #e2e3e1;
  /*#d3c2a8;*/
  /*#e7d5bd*/
}
@media all and (max-width: 768px) {
  /* line 29, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
  body.style-fds-html {
    padding-left: 40px;
  }
}
/* line 33, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
  font-size: 1em;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color: black;
  /*#58484b;*/
  /*#574d44*/
  /*#4E2F2F*/
  background: #e2e3e1;
  /*#d3c2a8;*/
  /*#e7d5bd*/
  /* 1.5. Title section */
  /* 2. Letters */
  /* 3. pb, lb, linenumber */
  /*This is to prevent scrolling up when the first image opens. AW*/
  /* 4. Milestone and lines */
  /*.doubleline{
        border-top: 4px double #8c8b8b;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /*.tripleline{
        border-top: 4px double #8c8b8b;
        line-height:1.9em;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
  /* 5. p, ab, note, fw */
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  /* 6. Additions and Deletions */
  /* 7. Unclear, gap, space */
  /* 7. Editorial */
  /* 8. @rend classes (except colors, lines, and up-down placement) */
  /* 9. Page placement */
  /*Goes with standalone <note>s*/
  /* 10. Colors */
  /* 11. Lists and Tables */
  /* 12. Misc */
}
/* line 43, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .TEI {
  display: inline-block;
  white-space: nowrap;
  padding-top: .5em;
  text-align: left;
}
@media all and (max-width: 768px) {
  /* line 50, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
  div.transcription.style-fds-html .TEI {
    padding-left: 1em;
  }
}
/* line 54, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .item-details {
  max-width: 29em;
  min-width: 29em;
  white-space: normal;
}
/* line 59, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .div {
  margin-top: -1.2em;
}
/* line 64, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html div.body {
  display: block;
  padding-bottom: 2.4em;
}
/* line 68, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .front,
div.transcription.style-fds-html .back {
  display: block;
}
/* line 75, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .title {
  display: block;
  text-align: center;
  margin-bottom: -0.5em;
  font-size: 1.4em;
  font-variant: small-caps;
}
/* line 82, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .author {
  display: block;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.2em;
  font-style: italic;
}
/* line 89, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .authority {
  font-size: .9em;
  line-height: 1.7;
}
/* line 93, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .pub-date {
  font-size: .9em;
}
/* line 96, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html a:link {
  color: #428bca !important;
}
/* line 99, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .idno {
  font-size: .9em;
  line-height: 1.7;
}
/* line 103, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html hr.title-section {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
/* line 111, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .project-id {
  color: gray;
  font-size: .9em;
}
/* line 118, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .opener,
div.transcription.style-fds-html .closer {
  margin-bottom: 0px;
}
/* line 122, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .opener {
  display: inline;
  margin-top: 1em;
}
/* line 126, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .closer {
  display: block;
}
/* line 129, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .dateline {
  display: inline;
  text-indent: 0;
}
/* line 133, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .dateline.center {
  display: inline-block;
}
/* line 136, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .dateline.right {
  display: block;
}
/* line 141, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .closer-salute {
  margin-left: 0 !important;
}
/* line 146, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .signed {
  display: inline-block;
}
/* line 149, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .address {
  display: block;
}
/* line 159, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .pb-title {
  display: block;
  color: #428bca;
  /*text-decoration:underline;*/
  font-size: 90%;
  margin-top: 2em;
  margin-bottom: -0.9em;
}
/* line 167, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .pb-title-notop {
  display: block;
  color: #428bca;
  /*text-decoration:underline;*/
  font-size: 90%;
  margin-top: .5em;
  margin-bottom: -0.9em;
  text-indent: 0 !important;
}
/* line 176, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .pb-title:hover,
div.transcription.style-fds-html .pb-title-notop:hover {
  color: #AAA;
  cursor: pointer;
}
/* line 181, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .pb-title:first-of-type {
  margin-top: 0;
}
/* line 185, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p span.pb-title {
  margin-left: 0;
  text-indent: 0;
}
/* line 189, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p.pb-title {
  margin-top: 2em;
}
/* line 194, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .lb {
  display: block;
}
/* line 201, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .linenumber {
  text-align: right;
  float: left;
  color: #AAA;
  margin-left: -3em !important;
  /*text-indent:9%;*/
  font-size: 80%;
  width: 1em;
}
/* line 210, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p .linenumber {
  text-indent: -1%;
}
/* line 213, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p.noindent.linenumber {
  text-indent: 1em;
}
/* line 216, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p.center .linenumber {
  margin-left: -12.5em !important;
  /*Needs to be checked.*/
}
/* line 219, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p.right .linenumber {
  margin-left: -18em !important;
}
/* line 222, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .marginright .linenumber {
  display: none;
}
/* line 225, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p .list .linenumber {
  margin-left: -5em !important;
}
/* line 228, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .list .linenumber {
  text-indent: 0;
}
/* line 231, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .indent .linenumber {
  margin-left: -5em !important;
}
/* line 237, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .milestone {
  display: block;
  width: 60%;
  background: #FFF;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-left: 0;
  margin-right: 9%;
  padding: 0px;
  margin-bottom: -1em;
}
/* line 249, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 14em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 277, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .halfline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 10.5em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 287, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .quarterline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 6.5em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 297, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .second-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 14em !important;
  margin-left: 0;
  text-align: left;
  margin-top: -1em;
  margin-bottom: 0em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 309, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .third-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 14em !important;
  margin-left: 0;
  text-align: left;
  margin-top: 1.5em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 320, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .first-double {
  margin-top: 1em;
  /*changed from 1.5em; may need to change back*/
}
/* line 323, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.blue,
div.transcription.style-fds-html .line.first-double.blue,
div.transcription.style-fds-html .halfline.blue,
div.transcription.style-fds-html .quarterline.blue,
div.transcription.style-fds-html .second-line.blue,
div.transcription.style-fds-html .third-line.blue,
div.transcription.style-fds-html .div.blue .line,
div.transcription.style-fds-html .div.blue .line.first-double,
div.transcription.style-fds-html .div.blue .halfline,
div.transcription.style-fds-html .div.blue .quarterline,
div.transcription.style-fds-html .div.blue .second-line,
div.transcription.style-fds-html .div.blue .third-line {
  border-top: 1px solid #4f6c92 !important;
}
/* line 337, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.black,
div.transcription.style-fds-html .line.first-double.black,
div.transcription.style-fds-html .halfline.black,
div.transcription.style-fds-html .quarterline.black,
div.transcription.style-fds-html .second-line.black,
div.transcription.style-fds-html .third-line.black,
div.transcription.style-fds-html .div.black .line,
div.transcription.style-fds-html .div.black .line.first-double,
div.transcription.style-fds-html .div.black .halfline,
div.transcription.style-fds-html .div.black .quarterline,
div.transcription.style-fds-html .div.black .second-line,
div.transcription.style-fds-html .div.black .third-line,
div.transcription.style-fds-html .div.blue .line.black,
div.transcription.style-fds-html .div.blue .halfline.black {
  border-top: 1px solid black !important;
}
/* line 353, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.black.brown,
div.transcription.style-fds-html .line.first-double.black.brown,
div.transcription.style-fds-html .halfline.black.brown,
div.transcription.style-fds-html .quarterline.black.brown,
div.transcription.style-fds-html .second-line.black.brown,
div.transcription.style-fds-html .third-line.black.brown,
div.transcription.style-fds-html .div.black.brown .line,
div.transcription.style-fds-html .div.black.brown .line.first-double,
div.transcription.style-fds-html .div.black.brown .halfline,
div.transcription.style-fds-html .div.black.brown .quarterline,
div.transcription.style-fds-html .div.black.brown .second-line,
div.transcription.style-fds-html .div.black.brown .third-line {
  border-top: 1px solid #32251f !important;
}
/* line 367, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.brown,
div.transcription.style-fds-html .line.first-double.brown,
div.transcription.style-fds-html .halfline.brown,
div.transcription.style-fds-html .quarterline.brown,
div.transcription.style-fds-html .second-line.brown,
div.transcription.style-fds-html .third-line.brown,
div.transcription.style-fds-html .div.brown .line,
div.transcription.style-fds-html .div.brown .line.first-double,
div.transcription.style-fds-html .div.brown .halfline,
div.transcription.style-fds-html .div.brown .quarterline,
div.transcription.style-fds-html .div.brown .second-line,
div.transcription.style-fds-html .div.brown .third-line {
  border-top: 1px solid #5b4338 !important;
}
/* line 381, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.gray,
div.transcription.style-fds-html .line.first-double.gray,
div.transcription.style-fds-html .halfline.gray,
div.transcription.style-fds-html .quarterline.gray,
div.transcription.style-fds-html .second-line.gray,
div.transcription.style-fds-html .third-line.gray,
div.transcription.style-fds-html .div.gray .line,
div.transcription.style-fds-html .div.gray .line.first-double,
div.transcription.style-fds-html .div.gray .halfline,
div.transcription.style-fds-html .div.gray .quarterline,
div.transcription.style-fds-html .div.gray .second-line,
div.transcription.style-fds-html .div.gray .third-line {
  border-top: 1px solid #585754;
}
/* line 395, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .div.brown .first-double.gray,
div.transcription.style-fds-html .div.brown .second-line.gray {
  border-top: 1px solid #585754 !important;
}
/* line 399, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.orange,
div.transcription.style-fds-html .line.first-double.orange,
div.transcription.style-fds-html .halfline.orange,
div.transcription.style-fds-html .quarterline.orange,
div.transcription.style-fds-html .second-line.orange,
div.transcription.style-fds-html .third-line.orange,
div.transcription.style-fds-html .div.orange .line,
div.transcription.style-fds-html .div.orange .line.first-double,
div.transcription.style-fds-html .div.orange .halfline,
div.transcription.style-fds-html .div.orange .quarterline,
div.transcription.style-fds-html .div.orange .second-line,
div.transcription.style-fds-html .div.orange .third-line {
  border-top: 1px solid #CD7300 !important;
}
/* line 413, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .line.red,
div.transcription.style-fds-html .line.first-double.red,
div.transcription.style-fds-html .halfline.red,
div.transcription.style-fds-html .quarterline.red,
div.transcription.style-fds-html .second-line.red,
div.transcription.style-fds-html .third-line.red,
div.transcription.style-fds-html .div.red .line,
div.transcription.style-fds-html .div.red .line.first-double,
div.transcription.style-fds-html .div.red .halfline,
div.transcription.style-fds-html .div.red .quarterline,
div.transcription.style-fds-html .div.red .second-line,
div.transcription.style-fds-html .div.red .third-line {
  border-top: 1px solid red !important;
}
/* line 430, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p {
  margin-right: 2em;
}
/* line 434, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p {
  display: inline-block;
  text-indent: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 440, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p.noindent {
  text-indent: 0 !important;
}
/* line 443, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p.center {
  text-indent: 0 !important;
}
/* line 446, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p.right {
  text-indent: 0 !important;
}
/* line 449, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .ab {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 458, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .note {
  display: inline;
}
/* line 461, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .note.marginleft .linenumber {
  display: none;
}
/* line 464, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .fw {
  display: inline-block;
}
/* line 467, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .fw.pageno {
  text-indent: 0 !important;
}
/* line 470, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .fw.catch.left {
  margin-left: 0;
  /*AW revisit*/
  text-indent: 0;
}
/* line 474, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .fw.catch.right {
  text-indent: 0;
}
/* line 477, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .note.marginleft {
  margin-left: -3.6em !important;
  text-indent: 0;
  float: left;
  text-align: center;
}
/* line 483, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .note.marginright {
  margin-right: -2.6em !important;
  text-indent: 0;
  float: right;
  margin-top: -1.4em;
}
/* line 494, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .addmargin {
  text-indent: 0px;
}
/* line 497, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .del,
div.transcription.style-fds-html .cancelled,
div.transcription.style-fds-html .strikethrough,
div.transcription.style-fds-html .overwritten {
  text-decoration: line-through;
}
/* line 503, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .del-by-over-text {
  color: gray;
  text-decoration: line-through;
}
/* line 509, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .unclear {
  color: gray;
  border-bottom: 1px dotted gray;
}
/* line 513, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .gap {
  border-bottom: 1px dotted gray;
}
/* line 516, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .space-other {
  border-bottom: 1px dotted black;
  display: block;
}
/* line 520, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .verticalSpace {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-indent: 0;
}
/* line 528, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .sic,
div.transcription.style-fds-html .corr {
  border-bottom: 2px #B33B24 dotted;
}
/* line 532, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .orig,
div.transcription.style-fds-html .reg {
  /*border-bottom:1px green dotted*/
}
/* line 536, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .abbr,
div.transcription.style-fds-html .expan {
  border-bottom: 1px green dotted;
}
/* line 540, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .expan {
  display: none;
}
/* line 543, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .hidden {
  display: none;
}
/* line 546, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .rdg {
  display: block;
}
/* line 552, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .caps {
  font-variant: small-caps;
}
/* line 555, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .center {
  text-indent: 0;
  margin-left: 6em;
}
/* line 559, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .doubleunderline {
  border-bottom: 3px double;
}
/* line 562, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .doubleunderline-orange {
  border-bottom: 1px double gray;
}
/* line 565, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .tripleunderline {
  border-bottom: 4px double;
  text-decoration: underline;
}
/* line 569, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .indent {
  margin-left: 25px;
}
/* line 572, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .inline {
  /*color:gray;*/
}
/* line 575, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .italic {
  font-style: italic;
}
/* line 578, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .large {
  font-size: 120%;
}
/* line 581, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .overline {
  text-decoration: overline;
}
/* line 584, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .overline.underline {
  text-decoration: overline underline;
}
/* line 587, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .overtext {
  /*color:gray;*/
}
/* line 590, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .right {
  text-indent: 0;
  margin-left: 12em;
}
/* line 594, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .small {
  font-size: 85%;
}
/* line 597, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .smallcaps {
  font-variant: small-caps;
}
/* line 600, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .underline {
  text-decoration: underline;
}
/* line 603, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
/* line 609, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
/* line 618, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .above,
div.transcription.style-fds-html .below,
div.transcription.style-fds-html .bottom,
div.transcription.style-fds-html .sub,
div.transcription.style-fds-html .sup,
div.transcription.style-fds-html .top {
  /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
         the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
  vertical-align: baseline;
}
/* line 640, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .above,
div.transcription.style-fds-html .sup,
div.transcription.style-fds-html .top {
  /* Move the superscripted text up */
  top: -0.5em;
}
/* line 646, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .below,
div.transcription.style-fds-html .bottom,
div.transcription.style-fds-html .sub {
  /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
  bottom: -0.25em;
}
/* line 653, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .margintop {
  margin-left: 0;
  color: gray;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}
/* line 665, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .true {
  display: inline-block;
}
/* line 672, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .black {
  color: black;
}
/* line 675, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .black.gray {
  color: #404040;
}
/* line 678, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .black.brown {
  color: #32251f;
}
/* line 681, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .blue {
  color: #4f6c92;
  /*55759e*/
  /*#507ca5;*/
}
/* line 684, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .brown {
  color: #5b4338;
}
/* line 687, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .gray {
  color: #585754 /*72716d*/;
}
/* line 690, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .green {
  color: green;
}
/* line 693, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .orange {
  color: #CD7300;
}
/* line 696, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .purple {
  color: purple;
}
/* line 699, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .red {
  color: #B33B24;
}
/* line 702, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .yellow {
  color: yellow;
}
/* line 707, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .list {
  display: inline-block;
  /*margin-top:12px;*/
  text-indent: 0em;
}
/* line 712, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p .right,
div.transcription.style-fds-html .list .right {
  float: right;
  margin-top: -1.4em;
  margin-left: 2em;
  padding-right: 2em;
}
/* line 719, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p .right {
  padding-right: 0em !important;
}
/* line 722, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .cell {
  max-width: 1%;
  min-width: 1%;
  text-align: left;
  display: inline-block;
}
/* line 728, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .cell.center {
  margin-left: 5.5em;
}
/* line 731, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .cell.right {
  margin-left: 7em;
}
/* line 734, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .cell.right.cell-after-center {
  margin-left: 2em;
}
/* line 740, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .figure {
  margin-left: 0;
  color: gray;
  font-size: .8em;
  border-bottom: 1px gray dotted;
}
/* line 746, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .p .figure,
div.transcription.style-fds-html .p.noindent .figure,
div.transcription.style-fds-html .ab .figure {
  margin-left: 0px !important;
  text-indent: 0px;
}
/* line 752, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .metamark,
div.transcription.style-fds-html .metamark-color {
  font-style: italic;
  border-bottom: 1px gray dotted;
}
/* line 757, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .metamark {
  color: gray;
}
/* line 760, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html p .metamark {
  margin-left: 0px !important;
  text-indent: 0px !important;
}
/* line 765, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-fds-html.less */
div.transcription.style-fds-html .foreign,
div.transcription.style-fds-html .geogName,
div.transcription.style-fds-html .persName,
div.transcription.style-fds-html .orgName,
div.transcription.style-fds-html .quote,
div.transcription.style-fds-html .region,
div.transcription.style-fds-html .settlement,
div.transcription.style-fds-html .term-ailment,
div.transcription.style-fds-html .term-tribe {
  border-bottom: 2px #428bca dotted;
  /* change to 1px */
}
