/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

* /



/* 1. Textual divisions */
/* line 25, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
body.style-LLJ-html-alt {
  background: #ead7b3;
  /*LLJ*/
}
/* line 28, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 26em;
  /*LLJ*/
  min-width: 26em;
  /*LLJ*/
  font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
  font-size: 1em;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color: #46381e;
  /*LLJ*/
  /* 1.5. Title section */
  /* 2. Letters */
  /* 3. pb, lb, linenumber */
  /* 4. Milestone and lines */
  /*.doubleline{
        border-top: 4px double #8c8b8b;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /*.tripleline{
        border-top: 4px double #8c8b8b;
        line-height:1.9em;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
  /* 5. p, ab, note, fw */
  /* 6. Additions and Deletions */
  /* 7. Unclear, gap, space */
  /* 7. Editorial */
  /* 8. @rend classes (except colors, lines, and up-down placement) */
  /* 9. Page placement */
  /*Goes with standalone <note>s*/
  /* 10. Colors */
  /* 11. Lists and Tables */
  /* 12. Misc */
}
/* line 38, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .TEI {
  display: block;
  /*LLJ*/
  padding-top: .5em;
  text-align: justify;
  /*LLJ*/
}
@media all and (max-width: 768px) {
  /* line 44, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
  div.transcription.style-LLJ-html-alt .TEI {
    /*padding-left:1.5em;*/
    /*Removed because didn't work with triple viewer*/
  }
}
/* line 48, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .item-details {
  max-width: 26em;
  /*LLJ*/
  min-width: 26em;
  /*LLJ*/
  text-align: left;
  /*LLJ*/
  padding-top: 1em;
}
/* line 56, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt div.body {
  display: block;
  padding-bottom: 2.4em;
}
/* line 60, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .front,
div.transcription.style-LLJ-html-alt .back {
  display: block;
}
/* line 69, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .title {
  display: inline-block;
  /*LLJ*/
  text-align: center;
  margin-bottom: 1em;
  /*LLJ*/
  font-size: 1.4em;
  font-variant: small-caps;
}
/* line 76, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .author {
  display: block;
  text-align: center;
  margin-bottom: -0.5em;
  /*LLJ*/
  font-size: 1.2em;
  font-style: italic;
}
/* line 83, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .authority {
  font-size: .9em;
  line-height: 1.7;
}
/* line 87, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .pub-date {
  font-size: .9em;
}
/* line 90, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt a:link {
  color: #428bca !important;
}
/* line 93, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .idno {
  font-size: .9em;
  line-height: 1.7;
}
/* line 97, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt hr.title-section {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
/* line 105, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .project-id {
  color: gray;
  font-size: .9em;
}
/* line 112, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .opener,
div.transcription.style-LLJ-html-alt .closer {
  margin-bottom: 0px;
}
/* line 116, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .opener {
  display: inline;
  margin-top: 1em;
}
/* line 120, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .closer {
  display: block;
}
/* line 123, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .dateline {
  display: inline;
  text-indent: 0;
}
/* line 127, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .dateline.center {
  display: inline-block;
}
/* line 130, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .dateline.right {
  display: block;
}
/* line 135, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .closer-salute {
  margin-left: 0 !important;
}
/* line 140, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .signed {
  display: inline-block;
}
/* line 143, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .address {
  display: block;
}
/* line 153, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .pb-title {
  display: block;
  color: #428bca;
  /*Changed for full LJ. Was color:#f6dbb0; & text decoration hidden*/
  /*text-decoration:underline;*/
  font-size: 90%;
  margin-top: 2em;
  /*Changed for full LJ.*/
  margin-bottom: 0;
  /*Changed for full LJ.*/
  padding-bottom: 10px;
  /*Added for full LJ.*/
}
/* line 162, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .pb-title:hover {
  color: #AAA;
  /*Changed for full LJ. Was color:#f6dbb0;*/
  cursor: pointer;
}
/* line 166, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .pb-title:first-of-type {
  /*margin-top: 0;*/
  /*This is to prevent scrolling up when the first image opens. AW*/
}
/* line 169, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p span.pb-title {
  text-indent: 0;
  /*LLJ*/
  margin-left: 0;
  /*Changed for full LJ. Was margin-top:3em;*/
}
/* line 175, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .lb {
  display: block;
}
/* line 182, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .linenumber {
  text-align: right;
  float: left;
  color: #8c8b85;
  margin-left: -3em !important;
  /*text-indent:9%;*/
  font-size: 80%;
  width: 1em;
  display: none;
}
/* line 192, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p .linenumber {
  text-indent: -1%;
}
/* line 195, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p.noindent.linenumber {
  text-indent: 1em;
}
/* line 198, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p.center .linenumber {
  margin-left: -12.5em !important;
  /*Needs to be checked.*/
}
/* line 201, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p.right .linenumber {
  margin-left: -18em !important;
}
/* line 204, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .list .linenumber {
  text-indent: 0;
}
/* line 210, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .milestone {
  display: block;
  width: 60%;
  background: #FFF;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-left: 0;
  margin-right: 9%;
  padding: 0px;
  margin-bottom: -1em;
}
/* line 222, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 14em !important;
  /*LLJ*/
  margin-left: 6em;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 250, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .halfline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 17.5em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 260, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .quarterline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 11em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 270, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .second-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 22em !important;
  margin-left: 0;
  text-align: left;
  margin-top: -1em;
  margin-bottom: 0em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 282, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .third-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 22em !important;
  margin-left: 0;
  text-align: left;
  margin-top: 1.5em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
/* line 296, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p {
  /*margin-right: 2em;*/
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
}
/* line 299, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p,
div.transcription.style-LLJ-html-alt .note {
  display: inline-block;
  text-indent: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 307, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .note {
  margin-top: 1.5em;
  text-indent: 0px !important;
  font-size: .9em;
}
/* line 313, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p.noindent {
  text-indent: 0 !important;
}
/* line 316, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p.center {
  text-indent: 0 !important;
}
/* line 319, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p.right {
  text-indent: 0 !important;
}
/* line 322, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .ab {
  padding-left: 0em;
  text-indent: -1.5em;
  /*This and previous together create a hanging indent for LLJ*/
  margin-left: 2em;
  /*LLJ*/
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9em;
  /*LLJ*/
}
/* line 332, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .head {
  font-weight: 300;
  text-align: center;
  /*LLJ*/
  margin-bottom: 0em;
  /*LLJ*/
}
/* line 337, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw {
  font-size: .9em !important;
  /*color:#706f6a;*/
  /*Removed for full LJ*/
}
/* line 342, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.catch {
  margin-top: -1em;
  display: block;
  /*color:purple;*/
  /*Added for full LJ*/
  padding-left: 2em;
  /*Added for full LJ*/
  padding-right: 3em;
  /*Added for full LJ*/
}
/* line 350, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.catch.left {
  text-indent: 0;
}
/* line 354, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.catch.right {
  text-indent: 0;
}
/* line 358, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.inspace .right {
  /*color:purple;*/
  /*Added for full LJ*/
}
/* line 361, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.inspace .right {
  padding-right: 3em;
  /*Added for full LJ*/
}
/* line 364, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .fw.pageno {
  text-indent: 0 !important;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
/* line 371, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p .fw.pageno {
  margin-bottom: 1em;
  display: block;
  text-align: center;
}
/* line 382, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .addmargin {
  text-indent: 0px;
}
/* line 385, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .del,
div.transcription.style-LLJ-html-alt .cancelled,
div.transcription.style-LLJ-html-alt .strikethrough,
div.transcription.style-LLJ-html-alt .overwritten {
  text-decoration: line-through;
}
/* line 391, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .del-by-over-text {
  color: #706f6a;
  text-decoration: line-through;
}
/* line 397, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .unclear {
  color: #706f6a;
  border-bottom: 1px dotted #706f6a;
}
/* line 401, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .gap {
  /*border-bottom:1px dotted black;*/
}
/* line 404, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .space-other {
  border-bottom: 1px dotted black;
  display: block;
}
/* line 408, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .verticalSpace {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-indent: 0;
}
/* line 416, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .sic,
div.transcription.style-LLJ-html-alt .corr {
  border-bottom: 2px #B33B24 dotted;
}
/* line 420, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .orig,
div.transcription.style-LLJ-html-alt .reg {
  /*border-bottom:1px green dotted*/
}
/* line 424, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .abbr,
div.transcription.style-LLJ-html-alt .expan {
  border-bottom: 1px green dotted;
}
/* line 428, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .expan {
  display: none;
}
/* line 431, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .hidden {
  display: none;
}
/* line 434, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .rdg {
  display: block;
}
/* line 440, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .caps {
  font-variant: small-caps;
}
/* line 443, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .center {
  text-align: center;
  /*color:green;*/
  /*Added for full LJ.*/
}
/* line 448, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .doubleunderline {
  border-bottom: 3px double;
}
/* line 451, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .inline {
  color: #706f6a;
}
/* line 454, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .italic {
  font-style: italic;
}
/* line 457, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .large {
  font-size: 120%;
}
/* line 460, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .left {
  float: left;
}
/* line 465, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .overline {
  text-decoration: overline;
}
/* line 468, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .overline.underline {
  text-decoration: overline underline;
}
/* line 471, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .overtext {
  /*color:#706f6a;*/
}
/* line 474, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .right {
  text-indent: 0;
  float: right;
}
/* line 479, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .small {
  font-size: 85%;
}
/* line 482, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .smallcaps {
  font-variant: small-caps;
}
/* line 485, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .underline {
  text-decoration: underline;
}
/* line 488, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
/* line 494, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
/* line 503, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .above,
div.transcription.style-LLJ-html-alt .below,
div.transcription.style-LLJ-html-alt .bottom,
div.transcription.style-LLJ-html-alt .sub,
div.transcription.style-LLJ-html-alt .sup,
div.transcription.style-LLJ-html-alt .top {
  /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
         the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
  vertical-align: baseline;
}
/* line 525, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .above,
div.transcription.style-LLJ-html-alt .sup,
div.transcription.style-LLJ-html-alt .top {
  /* Move the superscripted text up */
  top: -0.5em;
}
/* line 531, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .below,
div.transcription.style-LLJ-html-alt .bottom,
div.transcription.style-LLJ-html-alt .sub {
  /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
  bottom: -0.25em;
}
/* line 538, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .margintop {
  margin-left: 0;
  color: #706f6a;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}
/* line 550, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .true {
  display: inline-block;
}
/* line 557, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .black {
  color: black;
}
/* line 560, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .blue {
  color: blue;
}
/* line 563, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .brown {
  color: brown;
}
/* line 566, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .gray {
  color: #706f6a;
}
/* line 569, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .green {
  color: green;
}
/* line 572, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .orange {
  color: orange;
}
/* line 575, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .purple {
  color: purple;
}
/* line 578, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .red {
  color: #B33B24;
}
/* line 581, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .yellow {
  color: yellow;
}
/* line 586, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .list {
  display: block;
  margin-top: 12px;
}
/* line 590, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt table {
  font-size: 1em;
  /*85%;*/
  /*Changed for 1870 Field Diary*/
  border-style: none;
  margin-right: 2em;
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  color: #58484b;
  /*Added color for 1870 Field Diary*/
}
/* line 596, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt tr,
div.transcription.style-LLJ-html-alt td {
  border-style: none;
}
/* line 603, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .date-red {
  /*Add for full LJ.*/
  display: none;
  color: red;
  font-style: normal;
}
/* line 608, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .reduce {
  /*Fixes issues intro by milestone in LJs*/
  margin-bottom: -2em;
}
/* line 612, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .figure {
  margin-left: 0;
  color: #706f6a;
  font-size: .8em;
  border-bottom: 1px #706f6a dotted;
}
/* line 618, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-left {
  width: 12em;
  float: left;
  margin: 0.5em 2.5em -1em -1.5em;
}
/* line 623, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-left-medium {
  width: 10em;
  float: left;
  margin: 0.5em 2.5em -0.5em -1.5em;
  /*-.5 deviation needed for LJ 1:72*/
}
/* line 628, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-left-small {
  width: 8em;
  float: left;
  margin: 0.5em 2.5em -1em -1.5em;
}
/* line 633, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-right {
  width: 12em;
  float: right;
  margin: 0.5em -0.2em -1em 0.5em;
}
/* line 638, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-right-medium {
  width: 10em;
  float: right;
  margin: 0.5em -0.2em -1em 0.5em;
}
/* line 643, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .graphic.inline-right-small {
  width: 8em;
  float: right;
  margin: 0.5em -0.2em -1em 0.5em;
}
/* line 648, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p .graphic.inline-right,
div.transcription.style-LLJ-html-alt .p .graphic.inline-right-medium,
div.transcription.style-LLJ-html-alt .p .graphic.inline-right-small {
  text-indent: 0;
}
/* line 653, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p .figure,
div.transcription.style-LLJ-html-alt .p.noindent .figure,
div.transcription.style-LLJ-html-alt .ab .figure {
  margin-left: 0px !important;
  text-indent: 0px;
}
/* line 659, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .p .figure.graphic {
  text-indent: 0px !important;
  /*LLLJ*/
}
/* line 662, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .metamark {
  color: #706f6a;
  border-bottom: 1px #706f6a dotted;
}
/* line 666, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt p .metamark {
  margin-left: 0px !important;
  text-indent: 0px !important;
}
/* line 671, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-LLJ-html-alt.less */
div.transcription.style-LLJ-html-alt .foreign,
div.transcription.style-LLJ-html-alt .geogName,
div.transcription.style-LLJ-html-alt .persName,
div.transcription.style-LLJ-html-alt .orgName,
div.transcription.style-LLJ-html-alt .quote,
div.transcription.style-LLJ-html-alt .region,
div.transcription.style-LLJ-html-alt .settlement,
div.transcription.style-LLJ-html-alt .term-ailment,
div.transcription.style-LLJ-html-alt .term-tribe {
  border-bottom: 2px #428bca dotted;
  /* change to 1px */
}
