/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

* /


/* 1. Textual divisions */
/* line 24, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
body {
  background: #d3c2a8;
  /*#e7d5bd*/
}
/* line 27, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
div.transcription {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
  font-size: 1em;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color: #52463d;
  /*#574d44*/
  /*#4E2F2F*/
}
/* line 36, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.TEI {
  display: inline-block;
  white-space: nowrap;
  padding-top: .5em;
  text-align: left;
}
@media all and (max-width: 768px) {
  /* line 43, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
  .TEI {
    padding-left: 2em;
    /*Needed to position line numbers in MS viewer*/
  }
}
/* line 47, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.item-details {
  max-width: 29em;
  min-width: 29em;
  white-space: normal;
}
/* line 54, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
div.body {
  display: block;
  padding-bottom: 2.4em;
  padding-left: 1.5em;
}
/* line 59, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.front,
.back {
  display: block;
}
/* 1.5. Title section */
/* line 68, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.title {
  display: block;
  text-align: center;
  margin-bottom: -0.5em;
  font-size: 1.4em;
  font-variant: small-caps;
}
/* line 75, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.author {
  display: block;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.2em;
  font-style: italic;
}
/* line 82, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.authority {
  font-size: .9em;
  line-height: 1.7;
}
/* line 86, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.pub-date {
  font-size: .9em;
}
/* line 89, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
a:link {
  color: #428bca !important;
}
/* line 92, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.idno {
  font-size: .9em;
  line-height: 1.7;
}
/* line 96, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
hr.title-section {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
/* line 104, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.project-id {
  color: #706f6a;
  font-size: .9em;
  padding-left: 1.5em;
}
/* 2. Letters */
/* line 112, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.opener,
.closer {
  margin-bottom: 0px;
}
/* line 116, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.opener {
  display: inline;
  margin-top: 1em;
}
/* line 120, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.closer {
  display: block;
}
/* line 123, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.dateline {
  display: inline;
  text-indent: 0;
}
/* line 127, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.dateline.center {
  display: inline-block;
}
/* line 130, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.dateline.right {
  display: block;
}
/* line 135, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.closer-salute {
  margin-left: 0 !important;
}
/* line 140, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.signed {
  display: inline-block;
}
/* line 143, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.address {
  display: block;
}
/* 3. pb, lb, linenumber */
/* line 154, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.pb-title {
  display: block;
  color: #428bca;
  /*text-decoration:underline;*/
  font-size: 90%;
  margin-top: 2em;
  margin-bottom: -0.9em;
}
/* line 162, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.pb-title:hover {
  color: #AAA;
  cursor: pointer;
}
/* line 166, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.pb-title:first-of-type {
  margin-top: 0;
}
/*This is to prevent scrolling up when the first image opens. AW*/
/* line 169, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p span.pb-title {
  margin-left: 0;
  text-indent: 0;
}
/* line 175, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.lb {
  display: block;
}
/* line 182, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.linenumber {
  text-align: right;
  float: left;
  color: #8c8b85;
  margin-left: -3em !important;
  /*text-indent:9%;*/
  font-size: 80%;
  width: 1em;
}
/* line 191, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p .linenumber {
  text-indent: -1%;
}
/* line 194, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p.noindent.linenumber {
  text-indent: 1em;
}
/* line 197, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p.center .linenumber {
  margin-left: -12.5em !important;
  /*Needs to be checked.*/
}
/* line 200, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p.right .linenumber {
  margin-left: -18em !important;
}
/* line 203, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.list .linenumber {
  text-indent: 0;
}
/* 4. Milestone and lines */
/* line 210, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.milestone {
  display: block;
  width: 20em;
  /*1871 FD change, was 60%*/
  background: #FFF;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
  margin-left: 0;
  margin-right: 9%;
  padding: 0px;
  margin-bottom: -1em;
}
/* line 222, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
}
/*.doubleline{
	border-top: 4px double #8c8b8b;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/*.tripleline{
	border-top: 4px double #8c8b8b;
	line-height:1.9em;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
/* line 250, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.halfline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 10em !important;
  /*1871 FD change, was 18.5em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
}
/* line 260, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.quarterline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 11em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
}
/* line 270, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.second-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  margin-top: 0em;
  /*1871 FD change, was -1em*/
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
}
/* line 281, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.third-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  margin-left: 0;
  text-align: left;
  margin-top: 1.5em;
  height: 0;
  border: 0;
  border-top: 1px solid #52463d;
}
/* line 292, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.div.red .line,
.div.red .line.first-double,
.div.red .halfline,
.div.red .quarterline,
.div.red .second-line,
.div.red .third-line {
  border-top: 1px solid #9a6152;
}
/*Adds red milestones in relevant sections in 1871 FD*/
/* line 301, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.div.red.brown .line,
.div.red.brown .line.first-double,
.div.red.brown .halfline,
.div.red.brown .quarterline,
.div.red.brown .second-line,
.div.red.brown .third-line {
  border-top: 1px solid #826656;
}
/*Adds red-brown milestones in relevant sections in 1871 FD*/
/* 5. p, ab, note, fw */
/* line 312, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p {
  margin-right: 2em;
}
/*Needed so that the text doesn't run up against the right edge in the viewer.*/
/* line 315, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p {
  display: inline-block;
  text-indent: 0px;
  /*Changed to 0 for 1871 FD, was 25px*/
  margin-top: 0;
  margin-bottom: 0;
}
/* line 321, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p.noindent {
  text-indent: 0 !important;
}
/* line 324, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p.center {
  text-indent: 0 !important;
}
/* line 327, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p.right {
  text-indent: 0 !important;
}
/* line 330, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.ab {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 337, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.head {
  font-weight: 300;
}
/* line 340, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.note {
  display: inline;
}
/* line 343, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.fw {
  display: inline-block;
}
/* line 346, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.fw.pageno {
  text-indent: 0 !important;
}
/* line 349, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.fw.catch.left {
  margin-left: 0;
  /*AW revisit*/
  text-indent: 0;
}
/* line 353, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.fw.catch.right {
  text-indent: 0;
}
/* 6. Additions and Deletions */
/* line 361, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.addmargin {
  text-indent: 0px;
}
/* line 364, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.del,
.cancelled,
.strikethrough,
.overwritten {
  text-decoration: line-through;
}
/* line 370, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.del-by-over-text {
  color: #706f6a;
  text-decoration: line-through;
}
/* 7. Unclear, gap, space */
/* line 377, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.unclear {
  color: #706f6a;
  border-bottom: 1px dotted #706f6a;
}
/* line 381, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.gap {
  border-bottom: 1px dotted black;
}
/* line 384, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.space-other {
  border-bottom: 1px dotted black;
  display: block;
}
/* line 388, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.verticalSpace {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-indent: 0;
}
/* 7. Editorial */
/* line 398, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.sic,
.corr {
  border-bottom: 2px #9a6152 dotted;
}
/* line 402, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.orig,
.reg {
  /*border-bottom:1px green dotted*/
}
/* line 406, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.abbr,
.expan {
  border-bottom: 1px green dotted;
}
/* line 410, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.expan {
  display: none;
}
/* line 413, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.hidden {
  display: none;
}
/* line 416, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.rdg {
  display: block;
}
/* 8. @rend classes (except colors, lines, and up-down placement) */
/* line 423, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.caps {
  font-variant: small-caps;
}
/* line 426, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.center {
  text-indent: 0;
  margin-left: 6em;
}
/* line 430, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.doubleunderline {
  border-bottom: 3px double;
}
/* line 433, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.tripleunderline {
  border-bottom: 4px double;
  text-decoration: underline;
}
/* line 437, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.inline {
  /*color:gray;*/
}
/* line 440, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.italic {
  font-style: italic;
}
/* line 443, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.large {
  font-size: 120%;
}
/* line 446, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.overline {
  text-decoration: overline;
}
/* line 449, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.overline.underline {
  text-decoration: overline underline;
}
/* line 452, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.overtext {
  /*color:gray;*/
}
/* line 455, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.right {
  text-indent: 0;
  margin-left: 12em;
}
/* line 459, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.small {
  font-size: 85%;
}
/* line 462, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.smallcaps {
  font-variant: small-caps;
}
/* line 465, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.underline {
  text-decoration: underline;
}
/* line 468, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
/* line 474, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
/* 9. Page placement */
/* line 483, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.above,
.below,
.bottom,
.sub,
.sup,
.top {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}
/* line 505, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.above,
.sup,
.top {
  /* Move the superscripted text up */
  top: -0.5em;
}
/* line 511, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.below,
.bottom,
.sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}
/* line 518, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.margintop {
  margin-left: 0;
  color: #706f6a;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}
/* line 530, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.true {
  display: inline-block;
}
/*Goes with standalone <note>s*/
/* 10. Colors */
/* line 537, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.black {
  color: black;
}
/* line 540, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.blue {
  color: blue;
}
/* line 543, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.brown {
  color: brown;
}
/* line 546, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.gray {
  color: #706f6a;
}
/* line 549, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.green {
  color: green;
}
/* line 552, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.orange {
  color: orange;
}
/* line 555, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.purple {
  color: purple;
}
/* line 558, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.red {
  color: #9a6152;
}
/* line 561, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.red.brown {
  color: #826656;
}
/* line 564, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.yellow {
  color: yellow;
}
/* 11. Lists and Tables */
/* line 570, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.list {
  display: block;
  margin-top: 12px;
}
/* line 574, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
table {
  font-size: 1em;
  /*85%;*/
  /*Changed for 1870 Field Diary*/
  border-style: none;
  margin-right: 2em;
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  color: #52463d;
  /*Added color for 1870 Field Diary*/
}
/* line 580, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
tr,
td {
  border-style: none;
}
/* 12. Misc */
/* line 588, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.figure {
  /*margin-left:9%;*/
  /*1871 FD, removed*/
  color: #706f6a;
  font-size: .8em;
  border-bottom: 1px #706f6a dotted;
}
/* line 594, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.p .figure,
.p.noindent .figure,
.ab .figure {
  margin-left: 0px !important;
  text-indent: 0px;
}
/* line 600, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.metamark {
  color: #706f6a;
  border-bottom: 1px #706f6a dotted;
}
/* line 604, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
p .metamark {
  margin-left: 0px !important;
  text-indent: 0px !important;
}
/* line 609, /Users/nbanks/Projects/livingstoneonline.org/code/LEAP-XSLT/less/style-1871-viewer.less */
.foreign,
.geogName,
.persName,
.orgName,
.quote,
.region,
.settlement,
.term-ailment,
.term-tribe {
  border-bottom: 2px #428bca dotted;
  /* change to 1px */
}
