div.transcription.style-mt3-html {
  /*p .linenumber{
        text-indent:-1%;
    }
    .p.noindent.linenumber{
        text-indent:1em;
    }
    p.center .linenumber{
        margin-left:-12.5em !important;
    }
    p.right .linenumber{
        margin-left:-18em !important;
    }
    .list .linenumber{
        text-indent:0;
    }*/
}
div.transcription.style-mt3-html .linenumber {
  text-align: right;
  float: left;
  color: #8c8b85;
  margin-left: -2em !important;
  /*Changed. AW*/
  text-indent: 45em;
  font-size: 80%;
  width: 1em;
}
div.transcription.style-mt3-html .p .linenumber {
  text-indent: 45em;
}
div.transcription.style-mt3-html .p.noindent .linenumber {
  text-indent: 45em !important;
}
div.transcription.style-mt3-html .p.noindent .marginleft.marginleft .linenumber {
  text-indent: 45.2em !important;
  font-size: 80% !important;
}
div.transcription.style-mt3-html .note .linenumber {
  text-indent: 45.2em !important;
}
div.transcription.style-mt3-html .add.marginleft .note .linenumber {
  text-indent: 64.2em !important;
}
div.transcription.style-mt3-html .seg.left .linenumber {
  text-indent: 50em;
}
