/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

* /



/* 1. Textual divisions */

body{
	/*background:#e2e3e1;*//*#d3c2a8;*/ /*#e7d5bd*/
}
@media all and (max-width: 768px)  {
body{	
	padding-left:40px;
}
}
div.transcription{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family:"source sans pro", calibri, arial, helvetica, sans-serif;
	font-size:1em; /*Make .9em; also for table*/
	/*white-space:nowrap;*/
	color:black; /*#58484b;*/ /*#574d44*/ /*#4E2F2F*/
}
.TEI{
	display:inline-block;
	white-space:nowrap;
	padding-top:.5em;
	text-align:left;
}
@media all and (max-width: 768px)  {
.TEI{	
	padding-left:1em;
}
}
.item-details{
	max-width:29em;
	min-width:29em;
	white-space:normal;
}
.div{
	margin-top:-1.2em;
}
div.text{
}
div.body{
	display:block;
	padding-bottom:2.4em;
}
.front,
.back{
	display:block;
}


/* 1.5. Title section */

.title{
	display:block;
	text-align:center;
	margin-bottom:-.5em;
	font-size:1.4em;
	font-variant:small-caps;
}
.author{
	display:block;
	text-align:center;
	margin-bottom:.5em;
	font-size:1.2em;
	font-style:italic;
}
.authority{
	font-size:.9em;
	line-height:1.7;
}
.pub-date{
	font-size:.9em;
}
a:link{
	color:#428bca !important;
}
.idno{
	font-size:.9em;
	line-height:1.7;
}
hr.title-section{
	width:100%;
	height:0;
	border:0;
	border-top:1px solid #58484b;
	margin-top:-.4em;
	margin-bottom:-.4em;
}
.project-id{
	color:gray;
	font-size:.9em;
}

/* 2. Letters */

.opener,
.closer{
	margin-bottom:0px;
}
.opener{
	display:inline;
	margin-top:1em;
}
.closer{
	display:block;
}
.dateline{
	display:inline;
	text-indent:0;
}
.dateline.center{
	display:inline-block;
}
.dateline.right{
	display:block;
}
.opener-salute{
}
.closer-salute{
	margin-left:0 !important;
}
.closer.center{
}
.signed{
	display:inline-block;
}
.address{
	display:block;
}
.addrLine.center{
}
.addrLine.right{
}


/* 3. pb, lb, linenumber */

.pb-title{
	display:block;
	color:#428bca;
	/*text-decoration:underline;*/
	font-size:90%;
	margin-top:2em;
	margin-bottom:-.9em;
}
.pb-title-notop{
	display:block;
	color:#428bca;
	/*text-decoration:underline;*/
	font-size:90%;
	margin-top:.5em;
	margin-bottom:-.9em;    
	text-indent:0 !important;
}
.pb-title:hover,
.pb-title-notop:hover{
	color:#AAA;
	cursor:pointer
}
.pb-title:first-of-type {
  margin-top: 0;
}/*This is to prevent scrolling up when the first image opens. AW*/
p span.pb-title{
	margin-left:0;
	text-indent:0;
}
.p.pb-title{
    margin-top:2em;
}
.del-pb{
}
.lb{
	display:block;
}
.lb.center{
}
.lb.right{
}
.linenumber{
	text-align:right;
	float:left;
	color:#AAA;
	margin-left:-3em !important;
	/*text-indent:9%;*/
	font-size:80%;
	width:1em;
}
p .linenumber{
	text-indent:-1%;
}
.p.noindent.linenumber{
	text-indent:1em;
}
p.center .linenumber{
	margin-left:-12.5em !important; /*Needs to be checked.*/
}
p.right .linenumber{
	margin-left:-18em !important;
}
.marginright .linenumber{
	display:none;
}
.p .list .linenumber{
	margin-left:-5em !important;
}
.list .linenumber{
	text-indent:0;	
}
.indent .linenumber{
	margin-left:-5em !important;
}

/* 4. Milestone and lines */

.milestone{
	display:block;
	width:60%;
	background:#FFF;
	height:0;
	border:0;
	border-top:1px solid #58484b;
	margin-left:0;
	margin-right:9%;
	padding:0px;
	margin-bottom:-1em;
}
.line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:14em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
/*.doubleline{
	border-top: 4px double #8c8b8b;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/*.tripleline{
	border-top: 4px double #8c8b8b;
	line-height:1.9em;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
.halfline{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:10.5em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.quarterline{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:6.5em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.second-line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:14em !important;
	margin-left:0;
	text-align:left;
	margin-top:-1em;
	margin-bottom:0em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.third-line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:14em !important;
	margin-left:0;
	text-align:left;
	margin-top:1.5em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.first-double{
	margin-top:1em;/*changed from 1.5em; may need to change back*/
}
.line.blue,
.line.first-double.blue,
.halfline.blue,
.quarterline.blue,
.second-line.blue,
.third-line.blue,
.div.blue .line,
.div.blue .line.first-double,
.div.blue .halfline,
.div.blue .quarterline,
.div.blue .second-line,
.div.blue .third-line{
	border-top:1px solid #4f6c92 !important;	
}
.line.black,
.line.first-double.black,
.halfline.black,
.quarterline.black,
.second-line.black,
.third-line.black,
.div.black .line,
.div.black .line.first-double,
.div.black .halfline,
.div.black .quarterline,
.div.black .second-line,
.div.black .third-line,
.div.blue .line.black,
.div.blue .halfline.black{
	border-top:1px solid black !important;	
}
.line.black.brown,
.line.first-double.black.brown,
.halfline.black.brown,
.quarterline.black.brown,
.second-line.black.brown,
.third-line.black.brown,
.div.black.brown .line,
.div.black.brown .line.first-double,
.div.black.brown .halfline,
.div.black.brown .quarterline,
.div.black.brown .second-line,
.div.black.brown .third-line{
	border-top:1px solid #32251f !important;	
}
.line.brown,
.line.first-double.brown,
.halfline.brown,
.quarterline.brown,
.second-line.brown,
.third-line.brown,
.div.brown .line,
.div.brown .line.first-double,
.div.brown .halfline,
.div.brown .quarterline,
.div.brown .second-line,
.div.brown .third-line{
	border-top:1px solid #5b4338 !important;	
}
.line.gray,
.line.first-double.gray,
.halfline.gray,
.quarterline.gray,
.second-line.gray,
.third-line.gray,
.div.gray .line,
.div.gray .line.first-double,
.div.gray .halfline,
.div.gray .quarterline,
.div.gray .second-line,
.div.gray .third-line{
	border-top:1px solid #585754;	
}
.div.brown .first-double.gray,
.div.brown .second-line.gray{
	border-top:1px solid #585754 !important;	
}
.line.orange,
.line.first-double.orange,
.halfline.orange,
.quarterline.orange,
.second-line.orange,
.third-line.orange,
.div.orange .line,
.div.orange .line.first-double,
.div.orange .halfline,
.div.orange .quarterline,
.div.orange .second-line,
.div.orange .third-line{
	border-top:1px solid #CD7300 !important;	
}
.line.red,
.line.first-double.red,
.halfline.red,
.quarterline.red,
.second-line.red,
.third-line.red,
.div.red .line,
.div.red .line.first-double,
.div.red .halfline,
.div.red .quarterline,
.div.red .second-line,
.div.red .third-line{
	border-top:1px solid red !important;	
}



/* 5. p, ab, note, fw */

p{
	margin-right: 2em;
}/*Needed so that the text doesn't run up against the right edge in the viewer.*/
.p{
	display:inline-block;
	text-indent:25px;
	margin-top:0;
	margin-bottom:0;	
}
.p.noindent{
	text-indent:0 !important;
}
.p.center{
	text-indent:0 !important;
}
.p.right{
	text-indent:0 !important;
}
.ab{
	text-indent:0;
	margin-top:0;
	margin-bottom:0;
}
.ab.center{
}
.head{
}
.note{
	display:inline;
}
.note.marginleft .linenumber{
	display:none;
}
.fw{
	display:inline-block;
}
.fw.pageno{
	text-indent:0 !important;
}
.fw.catch.left{
	margin-left:0;/*AW revisit*/
	text-indent:0;
}
.fw.catch.right{
	text-indent:0;
}
.note.marginleft{
	margin-left:-3.6em !important;
	text-indent:0;	
	float:left;
	text-align:center;
}
.note.marginright{
	margin-right:-2.6em !important;
	text-indent:0;	
	float:right;
	margin-top:-1.4em;
}

/* 6. Additions and Deletions */

.opener-add{
}
.addmargin{
	text-indent:0px;
}
.del,
.cancelled,
.strikethrough,
.overwritten{
	text-decoration:line-through;
}
.del-by-over-text{
	color:gray;
	text-decoration:line-through;
}


/* 7. Unclear, gap, space */
.unclear{
	color:gray;
	border-bottom:1px dotted gray;
}
.gap{
	border-bottom:1px dotted gray;
}
.space-other{
	border-bottom:1px dotted black;
	display:block;
}
.verticalSpace{
	display:inline-block;
	border-bottom:1px dotted black;
	text-indent:0;
}



/* 7. Editorial */

.sic,
.corr{
	border-bottom:2px #B33B24 dotted
}
.orig,
.reg{
	/*border-bottom:1px green dotted*/
}
.abbr,
.expan{
	border-bottom:1px green dotted
}
.expan{
	display:none;
}
.hidden{
	display:none;
}
.rdg{
	display:block;
}


/* 8. @rend classes (except colors, lines, and up-down placement) */

.caps{
	font-variant:small-caps;
}
.center{
	text-indent:0;
	margin-left:6em;
}
.doubleunderline{
	border-bottom:3px double;
}
.doubleunderline-orange{
	border-bottom:1px double gray;
}
.tripleunderline{
	border-bottom:4px double;
	text-decoration:underline;
}
.indent{	
	margin-left:25px;	
	}
.inline{
	/*color:gray;*/
}
.italic{
	font-style:italic;
}
.large{
	font-size:120%;
}
.overline{
	text-decoration: overline;
}
.overline.underline{
	text-decoration:overline underline;
}
.overtext{
	/*color:gray;*/
}
.right{
	text-indent:0;
	margin-left:12em;
}
.small{
	font-size:85%;
}
.smallcaps{
	font-variant:small-caps;
}
.underline{
	text-decoration:underline;
}
.upsidedown{
	/*-ms-transform:rotate(180deg);*/ /* IE 9 */
	/*-moz-transform:rotate(180deg);*/ /* Firefox */
	/*-webkit-transform:rotate(180deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(180deg);*/ /* Opera */
}
.vertical{
	/*-ms-transform:rotate(90deg);*/ /* IE 9 */
	/*-moz-transform:rotate(90deg);*/ /* Firefox */
	/*-webkit-transform:rotate(90deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(90deg);*/ /* Opera */
}

/* 9. Page placement */

.above,
.below,
.bottom,
.sub,
.sup,
.top{
	/* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
	font-size:75%;

	/* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
	line-height:0;

	/* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
	position:relative;

	/* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
	vertical-align:baseline;
}
.above,
.sup,
.top{
	/* Move the superscripted text up */
	top:-0.5em;
}
.below,
.bottom,
.sub{
	/* Move the subscripted text down, but only
     half as far down as the superscript moved up */
	bottom:-0.25em;
}
.margintop{
	margin-left:0;
	color:gray;
	line-height:0;
	position:relative;
	vertical-align:baseline;
	top:-1em;
}
.margintop.left{
}
.margintop.right{
}
.true{
	display:inline-block;
}/*Goes with standalone <note>s*/


/* 10. Colors */

.black{
	color:black;
}
.black.gray{
	color:#404040;
}
.black.brown{
	color:#32251f;
}
.blue{
	color:#4f6c92;/*55759e*//*#507ca5;*/
}
.brown{
	color:#5b4338;
}
.gray{
	color:#585754/*72716d*/
}
.green{
	color:green;
}
.orange{
	color:#CD7300;
}
.purple{
	color:purple;
}
.red{
	color:#B33B24;
}
.yellow{
	color:yellow;
}


/* 11. Lists and Tables */
.list{
	display:inline-block;
	/*margin-top:12px;*/
	text-indent:0em;
}
.p .right,
.list .right{
	float:right;
	margin-top:-1.4em;
	margin-left:2em;
	padding-right:2em;
}
.p .right{
	padding-right:0em !important;
}
.cell{
	max-width:1%;
	min-width:1%;
	text-align:left;
	display:inline-block;
}
.cell.center{
	margin-left:5.5em;
}
.cell.right{
	margin-left:7em;
}
.cell.right.cell-after-center{
	margin-left:2em;
}


/* 12. Misc */

.figure{
	margin-left:0;
	color:gray;
	font-size:.8em;
	border-bottom:1px gray dotted;
}
.p .figure,
.p.noindent .figure,
.ab .figure{
	margin-left:0px !important;
	text-indent:0px;
}
.metamark,
.metamark-color{
	font-style:italic;
	border-bottom:1px gray dotted;
}
.metamark{
	color:gray;
}
p .metamark{
	margin-left:0px !important;
	text-indent:0px !important;
}

.foreign,
.geogName,
.persName,
.orgName,
.quote,
.region,
.settlement,
.term-ailment,
.term-tribe{
	border-bottom:2px #428bca dotted; /* change to 1px */
}