/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

*/
/* Rules for containers either this is shown embedded in the viewer or not */
body.non-embedded-transcription,
div.transcription-viewer-content.style-Bambarre-letter {
  background: #d3c2a8;
  /*#e7d5bd*/
}
/* 1. Textual divisions */
div.transcription.style-Bambarre-letter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
  font-size: 16px;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color: #58484b;
  /*#574d44*/
  /*#4E2F2F*/
  /* 1.5. Title section */
  /* 2. Letters */
  /* 3. pb, lb, linenumber */
  /*This is to prevent scrolling up when the first image opens. AW*/
  /* 4. Milestone and lines */
  /*.doubleline{
        border-top: 4px double #8c8b8b;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /*.tripleline{
        border-top: 4px double #8c8b8b;
        line-height:1.9em;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
  /*Adds red milestones in relevant sections in 1871 FD*/
  /* 5. p, ab, note, fw */
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  /* 6. Additions and Deletions */
  /* 7. Unclear, gap, space */
  /* 7. Editorial */
  /* 8. @rend classes (except colors, lines, and up-down placement) */
  /* 9. Page placement */
  /*Goes with standalone <note>s*/
  /* 10. Colors */
  /* 11. Lists and Tables */
  /* 12. Misc */
}
div.transcription.style-Bambarre-letter .TEI {
  display: inline-block;
  white-space: nowrap;
  padding-top: .5em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
  background: #d3c2a8;
  /*#e7d5bd*/
}
div.transcription.style-Bambarre-letter .item-details {
  max-width: 27em;
  min-width: 27em;
  white-space: normal;
  padding-top: 1em;
}
div.transcription.style-Bambarre-letter div.text {
  /*margin-left: 3em;*/
  /*Prevent line numbers from being hidden.*/
  /*Removed*/
}
div.transcription.style-Bambarre-letter div.body {
  display: block;
  padding-bottom: 2.4em;
}
div.transcription.style-Bambarre-letter .front,
div.transcription.style-Bambarre-letter .back {
  display: block;
}
div.transcription.style-Bambarre-letter .title {
  display: block;
  text-align: center;
  margin-bottom: -0.5em;
  font-size: 1.4em;
  font-variant: small-caps;
}
div.transcription.style-Bambarre-letter .author {
  display: block;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.2em;
  font-style: italic;
}
div.transcription.style-Bambarre-letter .authority {
  font-size: .9em;
  line-height: 1.7;
}
div.transcription.style-Bambarre-letter .pub-date {
  font-size: .9em;
}
div.transcription.style-Bambarre-letter a:link {
  color: #3774a8 !important;
}
div.transcription.style-Bambarre-letter .idno {
  font-size: .9em;
  line-height: 1.7;
}
div.transcription.style-Bambarre-letter hr.title-section {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
div.transcription.style-Bambarre-letter .project-id {
  color: #706f6a;
  font-size: .9em;
}
div.transcription.style-Bambarre-letter .opener,
div.transcription.style-Bambarre-letter .closer {
  margin-bottom: 0px;
}
div.transcription.style-Bambarre-letter .opener {
  display: inline;
  margin-top: 1em;
}
div.transcription.style-Bambarre-letter .closer {
  display: block;
}
div.transcription.style-Bambarre-letter .dateline {
  display: inline;
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .dateline.center {
  display: inline-block;
}
div.transcription.style-Bambarre-letter .dateline.right {
  display: block;
}
div.transcription.style-Bambarre-letter .closer-salute {
  margin-left: 0 !important;
}
div.transcription.style-Bambarre-letter .signed {
  display: inline-block;
}
div.transcription.style-Bambarre-letter .address {
  display: block;
}
div.transcription.style-Bambarre-letter .pb-title {
  display: block;
  color: #3774a8;
  /*text-decoration:underline;*/
  font-size: 90%;
  margin-top: 2em;
  margin-bottom: -0.9em;
}
div.transcription.style-Bambarre-letter .pb-title:hover {
  color: #AAA;
  cursor: pointer;
}
div.transcription.style-Bambarre-letter .pb-title:first-of-type {
  margin-top: 0;
}
div.transcription.style-Bambarre-letter p span.pb-title {
  margin-left: 0;
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .lb {
  display: block;
}
div.transcription.style-Bambarre-letter .linenumber {
  text-align: right;
  float: left;
  color: #8c8b85;
  margin-left: -3em !important;
  /*text-indent:9%;*/
  font-size: 80%;
  width: 1em;
}
div.transcription.style-Bambarre-letter p .linenumber {
  text-indent: -1%;
}
div.transcription.style-Bambarre-letter .p.noindent.linenumber {
  text-indent: 1em;
}
div.transcription.style-Bambarre-letter p.center .linenumber {
  margin-left: -12.5em !important;
  /*Needs to be checked.*/
}
div.transcription.style-Bambarre-letter p.right .linenumber {
  margin-left: -18em !important;
}
div.transcription.style-Bambarre-letter .list .linenumber {
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .milestone {
  display: block;
  width: 20em;
  /*1871 FD change, was 60%*/
  background: #FFF;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-left: 0;
  margin-right: 9%;
  padding: 0px;
  margin-bottom: -1em;
}
div.transcription.style-Bambarre-letter .line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-letter .halfline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 10em !important;
  /*1871 FD change, was 18.5em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-letter .quarterline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 11em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-letter .second-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  margin-top: 0em;
  /*1871 FD change, was -1em*/
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-letter .third-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  margin-left: 0;
  text-align: left;
  margin-top: 1.5em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-letter .div.red .line,
div.transcription.style-Bambarre-letter .div.red .line.first-double,
div.transcription.style-Bambarre-letter .div.red .halfline,
div.transcription.style-Bambarre-letter .div.red .quarterline,
div.transcription.style-Bambarre-letter .div.red .second-line,
div.transcription.style-Bambarre-letter .div.red .third-line {
  border-top: 1px solid #B33B24;
}
div.transcription.style-Bambarre-letter p {
  margin-right: 2em;
}
div.transcription.style-Bambarre-letter .p {
  display: inline-block;
  text-indent: 0px;
  /*Changed to 0 for 1871 FD, was 25px*/
  margin-top: 0;
  margin-bottom: 0;
}
div.transcription.style-Bambarre-letter .p.noindent {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-letter .p.center {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-letter .p.right {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-letter .ab {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0;
}
div.transcription.style-Bambarre-letter .head {
  font-weight: 300;
}
div.transcription.style-Bambarre-letter .note {
  display: inline;
}
div.transcription.style-Bambarre-letter .fw {
  display: inline-block;
}
div.transcription.style-Bambarre-letter .fw.pageno {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-letter .fw.catch.left {
  margin-left: 0;
  /*AW revisit*/
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .fw.catch.right {
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .addmargin {
  text-indent: 0px;
}
div.transcription.style-Bambarre-letter .del,
div.transcription.style-Bambarre-letter .cancelled,
div.transcription.style-Bambarre-letter .strikethrough,
div.transcription.style-Bambarre-letter .overwritten {
  text-decoration: line-through;
}
div.transcription.style-Bambarre-letter .del-by-over-text {
  color: #706f6a;
  text-decoration: line-through;
}
div.transcription.style-Bambarre-letter .unclear {
  color: #706f6a;
  border-bottom: 1px dotted #706f6a;
}
div.transcription.style-Bambarre-letter .gap {
  border-bottom: 1px dotted black;
}
div.transcription.style-Bambarre-letter .space-other {
  border-bottom: 1px dotted black;
  display: block;
}
div.transcription.style-Bambarre-letter .verticalSpace {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-indent: 0;
}
div.transcription.style-Bambarre-letter .sic,
div.transcription.style-Bambarre-letter .corr {
  border-bottom: 2px #B33B24 dotted;
}
div.transcription.style-Bambarre-letter .orig,
div.transcription.style-Bambarre-letter .reg {
  /*border-bottom:1px green dotted*/
}
div.transcription.style-Bambarre-letter .abbr,
div.transcription.style-Bambarre-letter .expan {
  border-bottom: 1px green dotted;
}
div.transcription.style-Bambarre-letter .expan {
  display: none;
}
div.transcription.style-Bambarre-letter .hidden {
  display: none;
}
div.transcription.style-Bambarre-letter .rdg {
  display: block;
}
div.transcription.style-Bambarre-letter .caps {
  font-variant: small-caps;
}
div.transcription.style-Bambarre-letter .center {
  text-indent: 0;
  margin-left: 6em;
}
div.transcription.style-Bambarre-letter .doubleunderline {
  border-bottom: 3px double;
}
div.transcription.style-Bambarre-letter .tripleunderline {
  border-bottom: 4px double;
  text-decoration: underline;
}
div.transcription.style-Bambarre-letter .inline {
  /*color:#706f6a;*/
}
div.transcription.style-Bambarre-letter .italic {
  font-style: italic;
}
div.transcription.style-Bambarre-letter .large {
  font-size: 120%;
}
div.transcription.style-Bambarre-letter .overline {
  text-decoration: overline;
}
div.transcription.style-Bambarre-letter .overline.underline {
  text-decoration: overline underline;
}
div.transcription.style-Bambarre-letter .overtext {
  /*color:#706f6a;*/
}
div.transcription.style-Bambarre-letter .right {
  text-indent: 0;
  margin-left: 12em;
}
div.transcription.style-Bambarre-letter .small {
  font-size: 85%;
}
div.transcription.style-Bambarre-letter .smallcaps {
  font-variant: small-caps;
}
div.transcription.style-Bambarre-letter .underline {
  text-decoration: underline;
}
div.transcription.style-Bambarre-letter .upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
div.transcription.style-Bambarre-letter .vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
div.transcription.style-Bambarre-letter .above,
div.transcription.style-Bambarre-letter .below,
div.transcription.style-Bambarre-letter .bottom,
div.transcription.style-Bambarre-letter .sub,
div.transcription.style-Bambarre-letter .sup,
div.transcription.style-Bambarre-letter .top {
  /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
         the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
  vertical-align: baseline;
}
div.transcription.style-Bambarre-letter .above,
div.transcription.style-Bambarre-letter .sup,
div.transcription.style-Bambarre-letter .top {
  /* Move the superscripted text up */
  top: -0.5em;
}
div.transcription.style-Bambarre-letter .below,
div.transcription.style-Bambarre-letter .bottom,
div.transcription.style-Bambarre-letter .sub {
  /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
  bottom: -0.25em;
}
div.transcription.style-Bambarre-letter .margintop {
  margin-left: 0;
  color: #706f6a;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}
div.transcription.style-Bambarre-letter .true {
  display: inline-block;
}
div.transcription.style-Bambarre-letter .black {
  color: black;
}
div.transcription.style-Bambarre-letter .blue {
  color: blue;
}
div.transcription.style-Bambarre-letter .brown {
  color: brown;
}
div.transcription.style-Bambarre-letter .gray {
  color: #706f6a;
}
div.transcription.style-Bambarre-letter .green {
  color: green;
}
div.transcription.style-Bambarre-letter .orange {
  color: orange;
}
div.transcription.style-Bambarre-letter .purple {
  color: purple;
}
div.transcription.style-Bambarre-letter .red {
  color: #B33B24;
}
div.transcription.style-Bambarre-letter .yellow {
  color: yellow;
}
div.transcription.style-Bambarre-letter .list {
  display: block;
  margin-top: 12px;
}
div.transcription.style-Bambarre-letter table {
  font-size: 1em;
  /*85%;*/
  /*Changed for 1870 Field Diary*/
  border-style: none;
  margin-right: 2em;
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  color: #58484b;
  /*Added color for 1870 Field Diary*/
}
div.transcription.style-Bambarre-letter tr,
div.transcription.style-Bambarre-letter td {
  border-style: none;
}
div.transcription.style-Bambarre-letter .figure {
  /*margin-left:9%;*/
  /*1871 FD, removed*/
  color: #706f6a;
  font-size: .8em;
  border-bottom: 1px #706f6a dotted;
}
div.transcription.style-Bambarre-letter .p .figure,
div.transcription.style-Bambarre-letter .p.noindent .figure,
div.transcription.style-Bambarre-letter .ab .figure {
  margin-left: 0px !important;
  text-indent: 0px;
}
div.transcription.style-Bambarre-letter .metamark {
  color: #706f6a;
  border-bottom: 1px #706f6a dotted;
}
div.transcription.style-Bambarre-letter p .metamark {
  margin-left: 0px !important;
  text-indent: 0px !important;
}
div.transcription.style-Bambarre-letter .foreign,
div.transcription.style-Bambarre-letter .geogName,
div.transcription.style-Bambarre-letter .persName,
div.transcription.style-Bambarre-letter .orgName,
div.transcription.style-Bambarre-letter .quote,
div.transcription.style-Bambarre-letter .region,
div.transcription.style-Bambarre-letter .settlement,
div.transcription.style-Bambarre-letter .term-ailment,
div.transcription.style-Bambarre-letter .term-tribe {
  border-bottom: 2px #3774a8 dotted;
  /* change to 1px */
}
