/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

*/
/* Rules for containers either this is shown embedded in the viewer or not */
body.non-embedded-transcription,
div.transcription-viewer-content.style-1870-html {
  background:#d3c2a8;
  /*#e7d5bd*/
}
/* 1. Textual divisions */
div.transcription.style-1870-html {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family:"source sans pro", calibri, arial, helvetica, sans-serif;
  font-size:16px;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color:#58484b;
  /*#574d44*/
  /*#4E2F2F*/
  /* 1.5. Title section */
  /* 2. Letters */
  /* 3. pb, lb, linenumber */
  /*This is to prevent scrolling up when the first image opens. AW*/
  /* 4. Milestone and lines */
  /*.doubleline{
        border-top:4px double #8c8b8b;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /*.tripleline{
        border-top:4px double #8c8b8b;
        line-height:1.9em;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
  /* 5. p, ab, note, fw */
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  /* 6. Additions and Deletions */
  /* 7. Unclear, gap, space */
  /* 7. Editorial */
  /* 8. @rend classes (except colors, lines, and up-down placement) */
  /* 9. Page placement */
  /*Goes with standalone <note>s*/
  /* 10. Colors */
  /* 11. Lists and Tables */
  /* 12. Misc */
}
div.transcription.style-1870-html .TEI {
  display:inline-block;
  white-space:nowrap;
  padding-top:.5em;
  padding-left:1em;
  padding-right:1em;
  text-align:left;
  background:#d3c2a8;
  /*#e7d5bd*/
}
div.transcription.style-1870-html .item-details {
  max-width:29em;
  min-width:29em;
  white-space:normal;
  padding-top:1em;
}
div.transcription.style-1870-html div.text {
  /*margin-left:3em;*/
  /*Prevent line numbers from being hidden.*/
  /*Removed*/
}
div.transcription.style-1870-html div.body {
  display:block;
  padding-bottom:2.4em;
}
div.transcription.style-1870-html .front,
div.transcription.style-1870-html .back {
  display:block;
}
div.transcription.style-1870-html .title {
  display:block;
  text-align:center;
  margin-bottom:-0.5em;
  font-size:1.4em;
  font-variant:small-caps;
}
div.transcription.style-1870-html .author {
  display:block;
  text-align:center;
  margin-bottom:.5em;
  font-size:1.2em;
  font-style:italic;
}
div.transcription.style-1870-html .authority {
  font-size:.9em;
  line-height:1.7;
}
div.transcription.style-1870-html .pub-date {
  font-size:.9em;
}
div.transcription.style-1870-html a:link {
  color:#428bca !important;
}
div.transcription.style-1870-html .idno {
  font-size:.9em;
  line-height:1.7;
}
div.transcription.style-1870-html hr.title-section {
  width:100%;
  height:0;
  border:0;
  border-top:1px solid #58484b;
  margin-top:-0.4em;
  margin-bottom:-0.4em;
}
div.transcription.style-1870-html .project-id {
  color:#706f6a;
  font-size:.9em;
}
div.transcription.style-1870-html .opener,
div.transcription.style-1870-html .closer {
  margin-bottom:0px;
}
div.transcription.style-1870-html .opener {
  display:inline;
  margin-top:1em;
}
div.transcription.style-1870-html .closer {
  display:block;
}
div.transcription.style-1870-html .dateline {
  display:inline;
  text-indent:0;
}
div.transcription.style-1870-html .dateline.center {
  display:inline-block;
}
div.transcription.style-1870-html .dateline.right {
  display:block;
}
div.transcription.style-1870-html .closer-salute {
  margin-left:0 !important;
}
div.transcription.style-1870-html .signed {
  display:inline-block;
}
div.transcription.style-1870-html .address {
  display:block;
}
div.transcription.style-1870-html .pb-title {
  display:block;
  color:#428bca;
  /*text-decoration:underline;*/
  font-size:90%;
  margin-top:2em;
  margin-bottom:-0.9em;
}
div.transcription.style-1870-html .pb-title:hover {
  color:#AAA;
  cursor:pointer;
}
div.transcription.style-1870-html .pb-title:first-of-type {
  margin-top:0;
}
div.transcription.style-1870-html p span.pb-title {
  margin-left:0;
  text-indent:0;
}
div.transcription.style-1870-html .lb {
  display:block;
}
div.transcription.style-1870-html .linenumber {
  text-align:right;
  float:left;
  color:#8c8b85;
  margin-left:-3em !important;
  /*text-indent:9%;*/
  font-size:80%;
  width:1em;
}
div.transcription.style-1870-html p .linenumber {
  text-indent:-1%;
}
div.transcription.style-1870-html .p.noindent.linenumber {
  text-indent:1em;
}
div.transcription.style-1870-html p.center .linenumber {
  margin-left:-12.5em !important;
  /*Needs to be checked.*/
}
div.transcription.style-1870-html p.right .linenumber {
  margin-left:-18em !important;
}
div.transcription.style-1870-html .list .linenumber {
  text-indent:0;
}
div.transcription.style-1870-html .milestone {
  display:block;
  width:60%;
  background:#FFF;
  height:0;
  border:0;
  border-top:1px solid #58484b;
  margin-left:0;
  margin-right:9%;
  padding:0px;
  margin-bottom:-1em;
}
div.transcription.style-1870-html .line {
  border-bottom:1px solid #d0d0d0;
  display:block;
  width:22em !important;
  margin-left:0;
  text-align:left;
  height:0;
  border:0;
  border-top:1px solid #58484b;
}
div.transcription.style-1870-html .halfline {
  border-bottom:1px solid #d0d0d0;
  display:block;
  width:17.5em !important;
  margin-left:0;
  text-align:left;
  height:0;
  border:0;
  border-top:1px solid #58484b;
}
div.transcription.style-1870-html .quarterline {
  border-bottom:1px solid #d0d0d0;
  display:block;
  width:11em !important;
  margin-left:0;
  text-align:left;
  height:0;
  border:0;
  border-top:1px solid #58484b;
}
div.transcription.style-1870-html .second-line {
  border-bottom:1px solid #d0d0d0;
  display:block;
  width:22em !important;
  margin-left:0;
  text-align:left;
  margin-top:-1em;
  margin-bottom:0em;
  height:0;
  border:0;
  border-top:1px solid #58484b;
}
div.transcription.style-1870-html .third-line {
  border-bottom:1px solid #d0d0d0;
  display:block;
  width:22em !important;
  margin-left:0;
  text-align:left;
  margin-top:1.5em;
  height:0;
  border:0;
  border-top:1px solid #58484b;
}
div.transcription.style-1870-html p {
  margin-right:2em;
}
div.transcription.style-1870-html .p {
  display:inline-block;
  text-indent:25px;
  margin-top:0;
  margin-bottom:0;
}
div.transcription.style-1870-html .p.noindent {
  text-indent:0 !important;
}
div.transcription.style-1870-html .p.center {
  text-indent:0 !important;
}
div.transcription.style-1870-html .p.right {
  text-indent:0 !important;
}
div.transcription.style-1870-html .ab {
  text-indent:0;
  margin-top:0;
  margin-bottom:0;
}
div.transcription.style-1870-html .head {
  font-weight:300;
}
div.transcription.style-1870-html .note {
  display:inline;
}
div.transcription.style-1870-html .fw {
  display:inline-block;
}
div.transcription.style-1870-html .fw.pageno {
  text-indent:0 !important;
}
div.transcription.style-1870-html .fw.catch.left {
  margin-left:0;
  /*AW revisit*/
  text-indent:0;
}
div.transcription.style-1870-html .fw.catch.right {
  text-indent:0;
}
div.transcription.style-1870-html .addmargin {
  text-indent:0px;
}
div.transcription.style-1870-html .del,
div.transcription.style-1870-html .cancelled,
div.transcription.style-1870-html .strikethrough,
div.transcription.style-1870-html .overwritten {
  text-decoration:line-through;
}
div.transcription.style-1870-html .del-by-over-text {
  color:#706f6a;
  text-decoration:line-through;
}
div.transcription.style-1870-html .unclear {
  color:#706f6a;
  border-bottom:1px dotted #706f6a;
}
div.transcription.style-1870-html .gap {
  border-bottom:1px dotted black;
}
div.transcription.style-1870-html .space-other {
  border-bottom:1px dotted black;
  display:block;
}
div.transcription.style-1870-html .verticalSpace {
  display:inline-block;
  border-bottom:1px dotted black;
  text-indent:0;
}
div.transcription.style-1870-html .sic,
div.transcription.style-1870-html .corr {
  border-bottom:2px #B33B24 dotted;
}
div.transcription.style-1870-html .orig,
div.transcription.style-1870-html .reg {
  /*border-bottom:1px green dotted*/
}
div.transcription.style-1870-html .abbr,
div.transcription.style-1870-html .expan {
  border-bottom:1px green dotted;
}
div.transcription.style-1870-html .expan {
  display:none;
}
div.transcription.style-1870-html .hidden {
  display:none;
}
div.transcription.style-1870-html .rdg {
  display:block;
}
div.transcription.style-1870-html .caps {
  font-variant:small-caps;
}
div.transcription.style-1870-html .center {
  text-indent:0;
  margin-left:6em;
}
div.transcription.style-1870-html .doubleunderline {
  border-bottom:3px double;
}
div.transcription.style-1870-html .tripleunderline {
  border-bottom:4px double;
  text-decoration:underline;
}
div.transcription.style-1870-html .inline {
  /*color:#706f6a;*/
}
div.transcription.style-1870-html .italic {
  font-style:italic;
}
div.transcription.style-1870-html .large {
  font-size:120%;
}
div.transcription.style-1870-html .overline {
  text-decoration:overline;
}
div.transcription.style-1870-html .overline.underline {
  text-decoration:overline underline;
}
div.transcription.style-1870-html .overtext {
  /*color:#706f6a;*/
}
div.transcription.style-1870-html .right {
  text-indent:0;
  margin-left:12em;
}
div.transcription.style-1870-html .small {
  font-size:85%;
}
div.transcription.style-1870-html .smallcaps {
  font-variant:small-caps;
}
div.transcription.style-1870-html .underline {
  text-decoration:underline;
}
div.transcription.style-1870-html .upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
div.transcription.style-1870-html .vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
div.transcription.style-1870-html .above,
div.transcription.style-1870-html .below,
div.transcription.style-1870-html .bottom,
div.transcription.style-1870-html .sub,
div.transcription.style-1870-html .sup,
div.transcription.style-1870-html .top {
  /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
  font-size:75%;
  /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
  line-height:0;
  /* Where the magic happens:makes all browsers position
         the sup/sup properly, relative to the surrounding text */
  position:relative;
  /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
  vertical-align:baseline;
}
div.transcription.style-1870-html .above,
div.transcription.style-1870-html .sup,
div.transcription.style-1870-html .top {
  /* Move the superscripted text up */
  top:-0.5em;
}
div.transcription.style-1870-html .below,
div.transcription.style-1870-html .bottom,
div.transcription.style-1870-html .sub {
  /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
  bottom:-0.25em;
}
div.transcription.style-1870-html .margintop {
  margin-left:0;
  color:#706f6a;
  line-height:0;
  position:relative;
  vertical-align:baseline;
  top:-1em;
}
div.transcription.style-1870-html .true {
  display:inline-block;
}
div.transcription.style-1870-html .black {
  color:black;
}
div.transcription.style-1870-html .blue {
  color:blue;
}
div.transcription.style-1870-html .brown {
  color:brown;
}
div.transcription.style-1870-html .gray {
  color:#706f6a;
}
div.transcription.style-1870-html .green {
  color:green;
}
div.transcription.style-1870-html .orange {
  color:orange;
}
div.transcription.style-1870-html .purple {
  color:purple;
}
div.transcription.style-1870-html .red {
  color:#B33B24;
}
div.transcription.style-1870-html .yellow {
  color:yellow;
}
div.transcription.style-1870-html .list {
  display:block;
  margin-top:12px;
}
div.transcription.style-1870-html table {
  font-size:1em;
  /*85%;*/
  /*Changed for 1870 Field Diary*/
  border-style:none;
  margin-right:2em;
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  color:#58484b;
  /*Added color for 1870 Field Diary*/
}
div.transcription.style-1870-html tr,
div.transcription.style-1870-html td {
  border-style:none;
}
div.transcription.style-1870-html .figure {
  margin-left:0;
  color:#706f6a;
  font-size:.8em;
  border-bottom:1px #706f6a dotted;
}
div.transcription.style-1870-html .p .figure,
div.transcription.style-1870-html .p.noindent .figure,
div.transcription.style-1870-html .ab .figure {
  margin-left:0px !important;
  text-indent:0px;
}
div.transcription.style-1870-html .metamark {
  color:#706f6a;
  border-bottom:1px #706f6a dotted;
}
div.transcription.style-1870-html p .metamark {
  margin-left:0px !important;
  text-indent:0px !important;
}
div.transcription.style-1870-html .foreign,
div.transcription.style-1870-html .geogName,
div.transcription.style-1870-html .persName,
div.transcription.style-1870-html .orgName,
div.transcription.style-1870-html .quote,
div.transcription.style-1870-html .region,
div.transcription.style-1870-html .settlement,
div.transcription.style-1870-html .term-ailment,
div.transcription.style-1870-html .term-tribe {
  border-bottom:2px #428bca dotted;
  /* change to 1px */
}
