/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Unclear, gap, space
8. Editorial 
9. @rend classes (except lines, page placement, colors) 
10. Page placement 
11. Colors 
12. Lists and Tables 
13. Misc 

* /

/* Rules for containers either this is shown embedded in the viewer or not */
body.non-embedded-transcription,
div.transcription-viewer-content.style-UJ-complete {
	background:#ccc3b4;
	/*#c7beb0;*/
	/*#e7d5bd*/
}


/* 1. Textual divisions */

div.transcription.style-UJ-complete {
	padding-left:6em;
	padding-top:1.5em;
}
div.transcription.style-UJ-complete div.transcription {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family:"source sans pro", calibri, arial, helvetica, sans-serif;
	font-size:16px; /*Make .9em; also for table*/
	/*white-space:nowrap;*/
	color:#695241; /*#574d44*/ /*#4E2F2F*/
}
div.transcription.style-UJ-complete .TEI {
	display:inline-block;
	white-space:nowrap;
	padding-top:.5em;
	padding-left:1em;
	padding-right:1em;
	text-align:left;
	background:#ccc3b4;
	/*#c7beb0;*/
	/*#e7d5bd*/
}
/*
@media all and (max-width:768px)  {
.TEI {	
	padding-left:1em;
}
*/
div.transcription.style-UJ-complete .item-details {
	max-width:29em;
	min-width:29em;
	white-space:normal;
	color:#563e2b;
}
div.transcription.style-UJ-complete .div {
	margin-top:-1.2em;
}
div.transcription.style-UJ-complete div.text {
	min-width:34em;
	max-width:34em;
}
div.transcription.style-UJ-complete div.body {
	display:block;
	padding-bottom:2.4em;
}
div.transcription.style-UJ-complete .front,
div.transcription.style-UJ-complete .back {
	display:block;
}


/* 1.5. Title section */

div.transcription.style-UJ-complete .title {
	display:block;
	text-align:center;
	margin-bottom:-0.5em;
	font-size:1.4em;
	font-variant:small-caps;
}
div.transcription.style-UJ-complete .author {
	display:block;
	text-align:center;
	margin-bottom:.5em;
	font-size:1.2em;
	font-style:italic;
}
div.transcription.style-UJ-complete .authority {
	font-size:.9em;
	line-height:2em;
}
div.transcription.style-UJ-complete .pub-date {
	font-size:.9em;
}
div.transcription.style-UJ-complete a:link {
	color:#428bca !important;
}
div.transcription.style-UJ-complete .idno {
	font-size:.9em;
	line-height:2em;
}
div.transcription.style-UJ-complete hr.title-section {
	width:100%;
	height:0;
	border:0;
	border-top:1px solid #58484b;
	margin-top:-0.4em;
	margin-bottom:-0.4em;
}
div.transcription.style-UJ-complete .project-id {
	color:#747571;
	font-size:.9em;
}


/* 2. Letters */

div.transcription.style-UJ-complete .opener,
div.transcription.style-UJ-complete .closer {
	margin-bottom:0px;
}
div.transcription.style-UJ-complete .opener {
	display:inline;
	margin-top:1em;
}
div.transcription.style-UJ-complete .closer {
	display:block;
}
div.transcription.style-UJ-complete .dateline {
	display:inline;
	text-indent:0;
}
div.transcription.style-UJ-complete .dateline.center {
	display:inline-block;
}
div.transcription.style-UJ-complete .dateline.right {
	display:block;
}
div.transcription.style-UJ-complete .closer-salute {
	margin-left:0 !important;
}
div.transcription.style-UJ-complete .signed {
	display:inline-block;
}
div.transcription.style-UJ-complete .address {
	display:block;
}


/* 3. pb, lb, linenumber */

div.transcription.style-UJ-complete .pb-title {
	display:block;
	color:#428bca;
	/*text-decoration:underline;*/
	font-size:90%;
	margin-top:2em;
	margin-bottom:-0.9em;
}
div.transcription.style-UJ-complete .pb-title {
	display:block;
	color:#428bca;
	/*text-decoration:underline;*/
	font-size:90%;
	margin-top:2em;
	margin-bottom:-0.9em;
}
div.transcription.style-UJ-complete .notop {
  /*needed for some .pb-titles*/
	margin-top:.5em;    
	text-indent:0 !important;
}
div.transcription.style-UJ-complete .pb-title:hover {
	color:#AAA;
	cursor:pointer;
}
div.transcription.style-UJ-complete .pb-title:first-of-type {
	margin-top:0;
}
div.transcription.style-UJ-complete p span.pb-title {
	margin-left:0;
	text-indent:0;
}
div.transcription.style-UJ-complete .p.pb-title {
    margin-top:2em;
}
div.transcription.style-UJ-complete .lb {
	display:block;
}
div.transcription.style-UJ-complete .linenumber {
	text-align:right;
	float:left;
	color:#AAA;
	margin-left:-3em !important;
	/*text-indent:9%;*/
	font-size:80%;
	width:1em;
	display:none;
}
div.transcription.style-UJ-complete p .linenumber {
	text-indent:-1%;
}
div.transcription.style-UJ-complete .p.noindent.linenumber {
	text-indent:1em;
}
div.transcription.style-UJ-complete p.center .linenumber {
	margin-left:-12.5em !important; /*Needs to be checked.*/
}
div.transcription.style-UJ-complete p.right .linenumber {
	margin-left:-18em !important;
}
div.transcription.style-UJ-complete .marginright .linenumber {
	display:none;
}
div.transcription.style-UJ-complete .p .list .linenumber {
	margin-left:-5em !important;
}
div.transcription.style-UJ-complete .list .linenumber {
	text-indent:0;	
}
div.transcription.style-UJ-complete .indent .linenumber {
	margin-left:-5em !important;
}


/* 4. Milestone and lines */

div.transcription.style-UJ-complete .milestone {
	display:block;
	width:60%;
	background:#FFF;
	height:0;
	border:0;
	border-top:1px solid #58484b;
	margin-left:0;
	margin-right:9%;
	padding:0px;
	margin-bottom:-1em;
}
div.transcription.style-UJ-complete .line {
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:22em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
/*.doubleline {
	border-top:4px double #8c8b8b;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/*.tripleline {
	border-top:4px double #8c8b8b;
	line-height:1.9em;
	display:block;
	width:35% !important;
	margin-left:9%;
	text-align:left;
	color:black;
}*/
/* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
div.transcription.style-UJ-complete .halfline {
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:17.5em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
div.transcription.style-UJ-complete .quarterline {
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:11em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
div.transcription.style-UJ-complete .second-line {
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:22em !important;
	margin-left:0;
	text-align:left;
	margin-top:-1em;
	margin-bottom:0em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
div.transcription.style-UJ-complete .third-line {
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:22em !important;
	margin-left:0;
	text-align:left;
	margin-top:1.5em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
div.transcription.style-UJ-complete .first-double {
	margin-top:1em;/*changed from 1.5em; may need to change back*/
}
div.transcription.style-UJ-complete .line.blue,
div.transcription.style-UJ-complete .line.first-double.blue,
div.transcription.style-UJ-complete .halfline.blue,
div.transcription.style-UJ-complete .quarterline.blue,
div.transcription.style-UJ-complete .second-line.blue,
div.transcription.style-UJ-complete .third-line.blue,
div.transcription.style-UJ-complete .div.blue .line,
div.transcription.style-UJ-complete .div.blue .line.first-double,
div.transcription.style-UJ-complete .div.blue .halfline,
div.transcription.style-UJ-complete .div.blue .quarterline,
div.transcription.style-UJ-complete .div.blue .second-line,
div.transcription.style-UJ-complete .div.blue .third-line {
	border-top:1px solid #4f6c92 !important;	
}
div.transcription.style-UJ-complete .line.black,
div.transcription.style-UJ-complete .line.first-double.black,
div.transcription.style-UJ-complete .halfline.black,
div.transcription.style-UJ-complete .quarterline.black,
div.transcription.style-UJ-complete .second-line.black,
div.transcription.style-UJ-complete .third-line.black,
div.transcription.style-UJ-complete .div.black .line,
div.transcription.style-UJ-complete .div.black .line.first-double,
div.transcription.style-UJ-complete .div.black .halfline,
div.transcription.style-UJ-complete .div.black .quarterline,
div.transcription.style-UJ-complete .div.black .second-line,
div.transcription.style-UJ-complete .div.black .third-line,
div.transcription.style-UJ-complete .div.blue .line.black,
div.transcription.style-UJ-complete .div.blue .halfline.black {
	border-top:1px solid black !important;	
}
div.transcription.style-UJ-complete .line.black.brown,
div.transcription.style-UJ-complete .line.first-double.black.brown,
div.transcription.style-UJ-complete .halfline.black.brown,
div.transcription.style-UJ-complete .quarterline.black.brown,
div.transcription.style-UJ-complete .second-line.black.brown,
div.transcription.style-UJ-complete .third-line.black.brown,
div.transcription.style-UJ-complete .div.black.brown .line,
div.transcription.style-UJ-complete .div.black.brown .line.first-double,
div.transcription.style-UJ-complete .div.black.brown .halfline,
div.transcription.style-UJ-complete .div.black.brown .quarterline,
div.transcription.style-UJ-complete .div.black.brown .second-line,
div.transcription.style-UJ-complete .div.black.brown .third-line {
	border-top:1px solid #563e2b !important;	
}
div.transcription.style-UJ-complete .line.brown,
div.transcription.style-UJ-complete .line.first-double.brown,
div.transcription.style-UJ-complete .halfline.brown,
div.transcription.style-UJ-complete .quarterline.brown,
div.transcription.style-UJ-complete .second-line.brown,
div.transcription.style-UJ-complete .third-line.brown,
div.transcription.style-UJ-complete .div.brown .line,
div.transcription.style-UJ-complete .div.brown .line.first-double,
div.transcription.style-UJ-complete .div.brown .halfline,
div.transcription.style-UJ-complete .div.brown .quarterline,
div.transcription.style-UJ-complete .div.brown .second-line,
div.transcription.style-UJ-complete .div.brown .third-line {
	border-top:1px solid #5b4338 !important;	
}
div.transcription.style-UJ-complete .line.gray,
div.transcription.style-UJ-complete .line.first-double.gray,
div.transcription.style-UJ-complete .halfline.gray,
div.transcription.style-UJ-complete .quarterline.gray,
div.transcription.style-UJ-complete .second-line.gray,
div.transcription.style-UJ-complete .third-line.gray,
div.transcription.style-UJ-complete .div.gray .line,
div.transcription.style-UJ-complete .div.gray .line.first-double,
div.transcription.style-UJ-complete .div.gray .halfline,
div.transcription.style-UJ-complete .div.gray .quarterline,
div.transcription.style-UJ-complete .div.gray .second-line,
div.transcription.style-UJ-complete .div.gray .third-line {
  border-top:1px solid #66635d; /*#585754*/
}
div.transcription.style-UJ-complete .div.brown .first-double.gray,
div.transcription.style-UJ-complete .div.brown .second-line.gray {
  border-top:1px solid #66635d !important; /*#585754*/
}
div.transcription.style-UJ-complete .line.orange,
div.transcription.style-UJ-complete .line.first-double.orange,
div.transcription.style-UJ-complete .halfline.orange,
div.transcription.style-UJ-complete .quarterline.orange,
div.transcription.style-UJ-complete .second-line.orange,
div.transcription.style-UJ-complete .third-line.orange,
div.transcription.style-UJ-complete .div.orange .line,
div.transcription.style-UJ-complete .div.orange .line.first-double,
div.transcription.style-UJ-complete .div.orange .halfline,
div.transcription.style-UJ-complete .div.orange .quarterline,
div.transcription.style-UJ-complete .div.orange .second-line,
div.transcription.style-UJ-complete .div.orange .third-line {
	border-top:1px solid #9b826a !important;	
}
div.transcription.style-UJ-complete .line.red,
div.transcription.style-UJ-complete .line.first-double.red,
div.transcription.style-UJ-complete .halfline.red,
div.transcription.style-UJ-complete .quarterline.red,
div.transcription.style-UJ-complete .second-line.red,
div.transcription.style-UJ-complete .third-line.red,
div.transcription.style-UJ-complete .div.red .line,
div.transcription.style-UJ-complete .div.red .line.first-double,
div.transcription.style-UJ-complete .div.red .halfline,
div.transcription.style-UJ-complete .div.red .quarterline,
div.transcription.style-UJ-complete .div.red .second-line,
div.transcription.style-UJ-complete .div.red .third-line {
	border-top:1px solid red !important;	
}


/* 5. p, ab, note, fw */

div.transcription.style-UJ-complete p {
	margin-right:2em;
}/*Needed so that the text doesn't run up against the right edge in the viewer.*/
div.transcription.style-UJ-complete .p {
	display:inline-block;
	text-indent:25px;
	margin-top:0;
	margin-bottom:0;	
}
div.transcription.style-UJ-complete .p.noindent {
	text-indent:0 !important;
}
div.transcription.style-UJ-complete .p.center {
	text-indent:0 !important;
}
div.transcription.style-UJ-complete .ab {
	text-indent:0;
	margin-top:0;
	margin-bottom:0;
}
div.transcription.style-UJ-complete .note {
	display:inline;
}
div.transcription.style-UJ-complete .note.marginleft .linenumber {
	display:none;
}
div.transcription.style-UJ-complete .fw,
div.transcription.style-UJ-complete .p .fw,
div.transcription.style-UJ-complete .p.noindent .fw {
	float:none !important;
}
div.transcription.style-UJ-complete .fw.pageno {
	text-indent:0 !important;
}
div.transcription.style-UJ-complete .fw.catch.left {
	margin-left:0;/*AW revisit*/
	text-indent:0;
}
div.transcription.style-UJ-complete .fw.catch.right {
	text-indent:0;
}
div.transcription.style-UJ-complete .fw .gray {
	color:#747571;
}
div.transcription.style-UJ-complete .note.marginleft {
	margin-left:-4.6em;
	text-indent:0;	
	float:left;
	text-align:center;
	height:0;
}
div.transcription.style-UJ-complete .note.marginleft.extraLeft {
	margin-left:-6.4em !important;
}
div.transcription.style-UJ-complete .note.marginright {
	margin-right:-2.6em !important;
	text-indent:0;	
	float:right;
	margin-top:-1.4em;
}


/* 6. Additions and Deletions */

div.transcription.style-UJ-complete .addmargin {
	text-indent:0px;
}
div.transcription.style-UJ-complete .del,
div.transcription.style-UJ-complete .cancelled,
div.transcription.style-UJ-complete .strikethrough,
div.transcription.style-UJ-complete .overwritten {
	text-decoration:line-through;
}
div.transcription.style-UJ-complete .del-by-over-text {
	color:#747571;
	text-decoration:line-through;
}


/* 7. Unclear, gap, space */

div.transcription.style-UJ-complete .unclear {
	color:#747571;
	border-bottom:1px dotted #747571;
}
div.transcription.style-UJ-complete .gap {
	border-bottom:1px dotted #747571;
}
div.transcription.style-UJ-complete .space-other {
	border-bottom:1px dotted black;
	display:block;
}
div.transcription.style-UJ-complete .verticalSpace {
	display:inline-block;
	border-bottom:1px dotted black;
	text-indent:0;
}


/* 8. Editorial */

div.transcription.style-UJ-complete .sic,
div.transcription.style-UJ-complete .corr {
	border-bottom:2px #B33B24 dotted;
}
div.transcription.style-UJ-complete .orig,
div.transcription.style-UJ-complete .reg {
	/*border-bottom:1px green dotted*/
}
div.transcription.style-UJ-complete .abbr,
div.transcription.style-UJ-complete .expan {
	border-bottom:1px green dotted;
}
div.transcription.style-UJ-complete .expan {
	display:none;
}
div.transcription.style-UJ-complete .hidden {
	display:none;
}
div.transcription.style-UJ-complete .rdg {
	display:block;
}
div.transcription.style-UJ-complete .supplied {
	color:gray;
	border-bottom:2px gray dotted;
}


/* 9. @rend classes (except colors, lines, and up-down placement) */

div.transcription.style-UJ-complete .caps {
	font-variant:small-caps;
}
div.transcription.style-UJ-complete .doubleunderline {
	border-bottom:3px double;
}
div.transcription.style-UJ-complete .doubleunderline-orange {
	border-bottom:1px double #747571;
}
div.transcription.style-UJ-complete .tripleunderline {
	border-bottom:4px double;
	text-decoration:underline;
}
div.transcription.style-UJ-complete .indent {
	margin-left:25px;	
	}
div.transcription.style-UJ-complete .inline {
	/*color:gray;*/
}
div.transcription.style-UJ-complete .italic {
	font-style:italic;
}
div.transcription.style-UJ-complete .large {
	font-size:120%;
}
div.transcription.style-UJ-complete .normal {
	font-style:normal;
}
div.transcription.style-UJ-complete .other {
	margin-bottom:-2.6em !important;/*Needed for UJ when the marginal date adds a line between lines that shouldn't be there*/
}
div.transcription.style-UJ-complete .overline {
	text-decoration:overline;
}
div.transcription.style-UJ-complete .overline.underline {
	text-decoration:overline underline;
}
div.transcription.style-UJ-complete .overtext {
	/*color:gray;*/
}
/*--------------------------------*/
div.transcription.style-UJ-complete .center {
	float:right;
	text-align:left;
	min-width:27em;
	margin:-1.4em;
}
div.transcription.style-UJ-complete .center.right {
	float:right !important;
	text-align:left !important;
	min-width:23.7em !important;
	margin:-1.4em !important;
}
div.transcription.style-UJ-complete .right {
	float:right;
	margin:-1.4em 14em;	
}
div.transcription.style-UJ-complete .left.right {
	float:right;
	margin:-1.4em 20em;	
	text-align:left !important;
	min-width:23.7em !important;
}
/*--------------------------------*/
div.transcription.style-UJ-complete .fw .right {
	margin-left:15em !important;
	float:none !important;
	padding:0 0 0 0 !important;
}
div.transcription.style-UJ-complete .fw-double-right {
	margin-left:-13.7em !important;
}
div.transcription.style-UJ-complete .cell.right {
	float:right;
	margin:-1.4em 16em;
}
div.transcription.style-UJ-complete .altitudesRight .right {
	float:right;
	text-align:left;
	margin:-1.4em 13em;
	min-width:5em;
	max-width:0em;
}
div.transcription.style-UJ-complete .rightFloatRain .right {
	float:right;
	text-align:right;
	margin:-1.4em 8em;
	min-width:9em;
	max-width:4em;
	padding:0 2em 0 7em;
}
div.transcription.style-UJ-complete .rightFloatRainMod .right {
	float:right;
	text-align:right;
	margin:-1.4em 11em;
	min-width:11em;
	max-width:4em;
	padding:0 2em 0 7em;
}
div.transcription.style-UJ-complete .rightFloatTOC .right {
	float:right;
	text-align:left;
	margin:-1.4em 7.4em;
	min-width:5em;
	max-width:0em;
}
div.transcription.style-UJ-complete .rightFloatTOCmod1 .right {
	float:right;
	text-align:right;
	margin:-1.4em 9.2em;
}
div.transcription.style-UJ-complete .rightFloatTOCmod2 .right {
	float:right;
	text-align:left;
	margin:-1.4em 4.4em;
	min-width:5em;
	max-width:0em;
}
div.transcription.style-UJ-complete .rightFloatTOCmod3 .right {
	float:right;
	text-align:left;
	margin:-1.4em 5.6em;
	min-width:5em;
	max-width:0em;
}
div.transcription.style-UJ-complete .rightFloatTOCmod4 .right {
	float:right;
	text-align:left;
	margin:-1.4em 10em;
	min-width:5em;
	max-width:0em;
}
/*--------------------------------*/
div.transcription.style-UJ-complete .small {
	font-size:85%;
}
div.transcription.style-UJ-complete .smallcaps {
	font-variant:small-caps;
}
div.transcription.style-UJ-complete .underline {
	text-decoration:underline;
}
div.transcription.style-UJ-complete .upsidedown {
	/*-ms-transform:rotate(180deg);*/ /* IE 9 */
	/*-moz-transform:rotate(180deg);*/ /* Firefox */
	/*-webkit-transform:rotate(180deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(180deg);*/ /* Opera */
}
div.transcription.style-UJ-complete .vertical {
	/*-ms-transform:rotate(90deg);*/ /* IE 9 */
	/*-moz-transform:rotate(90deg);*/ /* Firefox */
	/*-webkit-transform:rotate(90deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(90deg);*/ /* Opera */
}


/* 10. Page placement */

div.transcription.style-UJ-complete .above,
div.transcription.style-UJ-complete .below,
div.transcription.style-UJ-complete .bottom,
div.transcription.style-UJ-complete .sub,
div.transcription.style-UJ-complete .sup,
div.transcription.style-UJ-complete .top {
	/* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
	font-size:75%;

	/* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
	line-height:0;

	/* Where the magic happens:makes all browsers position
     the sup/sup properly, relative to the surrounding text */
	position:relative;

	/* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
	vertical-align:baseline;
}
div.transcription.style-UJ-complete .above,
div.transcription.style-UJ-complete .sup,
div.transcription.style-UJ-complete .top {
	/* Move the superscripted text up */
	top:-0.5em;
}
div.transcription.style-UJ-complete .below,
div.transcription.style-UJ-complete .bottom,
div.transcription.style-UJ-complete .sub {
	/* Move the subscripted text down, but only
     half as far down as the superscript moved up */
	bottom:-0.25em;
}
div.transcription.style-UJ-complete .margintop {
	margin-left:0;
	color:#747571;
	line-height:0;
	position:relative;
	vertical-align:baseline;
	top:-1em;
}
div.transcription.style-UJ-complete .true {
	display:inline-block;
}/*Goes with standalone <note>s*/


/* 11. Colors */

div.transcription.style-UJ-complete .black {
	color:#372f2c;
}
div.transcription.style-UJ-complete .black.gray {
	color:#404040;
}
div.transcription.style-UJ-complete .black.brown {
	color:#563e2b;
}
div.transcription.style-UJ-complete .blue {
  color:#4f6c92;
  /*55759e*/
  /*#507ca5;*/
}
div.transcription.style-UJ-complete .brown {
	color:#705b44;
}
div.transcription.style-UJ-complete .gray {
  color:#66635d /*7a756e*/ /*585754*/ /*72716d*/;
}
div.transcription.style-UJ-complete .green {
	color:green;
}
div.transcription.style-UJ-complete .orange {
	color:#9b826a;
}
div.transcription.style-UJ-complete .purple {
	color:purple;
}
div.transcription.style-UJ-complete .red {
	color:#B33B24;
}
div.transcription.style-UJ-complete .yellow {
	color:yellow;
}


/* 12. Lists and Tables */

div.transcription.style-UJ-complete .list {
	/*display:inline-block;*//*removed for now*/
	/*margin-top:12px;*/
	/*text-indent:0em;*/
}
div.transcription.style-UJ-complete .cell {
	max-width:1%;
	min-width:1%;
	text-align:left;
	display:inline-block;
}


/* 13. Misc */

div.transcription.style-UJ-complete .figure {
	margin-left:0;
	color:#747571;
	font-size:.8em;
	border-bottom:1px #747571 dotted;
}
div.transcription.style-UJ-complete .p .figure,
div.transcription.style-UJ-complete .p.noindent .figure,
div.transcription.style-UJ-complete .ab .figure {
	margin-left:0px !important;
	text-indent:0px;
}
div.transcription.style-UJ-complete .metamark,
div.transcription.style-UJ-complete .metamark-color {
	font-style:italic;
	border-bottom:1px #747571 dotted;
}
div.transcription.style-UJ-complete .metamark {
	color:#747571;
}
div.transcription.style-UJ-complete p .metamark {
	margin-left:0px !important;
	text-indent:0px !important;
}
div.transcription.style-UJ-complete .foreign,
div.transcription.style-UJ-complete .geogName,
div.transcription.style-UJ-complete .persName,
div.transcription.style-UJ-complete .orgName,
div.transcription.style-UJ-complete .quote,
div.transcription.style-UJ-complete .region,
div.transcription.style-UJ-complete .settlement,
div.transcription.style-UJ-complete .term-ailment,
div.transcription.style-UJ-complete .term-tribe {
  border-bottom:2px #428bca dotted;
  /* change to 1px */
}
