div.transcription.style-mt3-html {
	/*width:37em;*/
	padding-right:4.2em;
}
div.transcription.style-mt3-html .linenumber {
	text-align:right;
	float:left;
	color:#8c8b85;
	margin-left:-2em !important;/*Changed. AW*/
	text-indent:46.5em;
	font-size:80%;
	width:1em;
}
div.transcription.style-mt3-html .p .linenumber {
	text-indent:46.5em;
}
div.transcription.style-mt3-html .p.noindent .linenumber {
	text-indent:46.5em !important;
}
div.transcription.style-mt3-html .p.noindent .marginleft.marginleft .linenumber {
	text-indent:46.5em !important;
	font-size:80% !important;	
}
div.transcription.style-mt3-html .note .linenumber {
	text-indent:46.7em !important;	
}
div.transcription.style-mt3-html .add.marginleft .note .linenumber {
	text-indent:65.7em !important;
	display:none;
}

/*p .linenumber {
	text-indent:-1%;
}
.p.noindent.linenumber {
	text-indent:1em;
}
p.center .linenumber {
	margin-left:-12.5em !important; 
}
p.right .linenumber {
	margin-left:-18em !important;
}
.list .linenumber {
	text-indent:0;	
}*/
