/* 

Table of Contents
-----------------
1. Textual divisions
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. Additions and Deletions 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

*/
/* Rules for containers either this is shown embedded in the viewer or not */
body.non-embedded-transcription,
div.transcription-viewer-content.style-Bambarre-annotations {
  background: #d3c2a8;
  /*#e7d5bd*/
}
/* 1. Textual divisions */
div.transcription.style-Bambarre-annotations {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "source sans pro", calibri, arial, helvetica, sans-serif;
  font-size: 1em;
  /*Make .9em; also for table*/
  /*white-space:nowrap;*/
  color: #58484b;
  /*#574d44*/
  /*#4E2F2F*/
  /* 1.5. Title section */
  /* 2. Letters */
  /* 3. pb, lb, linenumber */
  /*.pb-title:hover{
        color:#AAA;
        cursor:pointer
    }*/
  /*This is to prevent scrolling up when the first image opens. AW*/
  /* 4. Milestone and lines */
  /*.doubleline{
        border-top: 4px double #8c8b8b;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /*.tripleline{
        border-top: 4px double #8c8b8b;
        line-height:1.9em;
        display:block;
        width:35% !important;
        margin-left:9%;
        text-align:left;
        color:black;
    }*/
  /* Both of the above are not used in the 1870 FD transformation. See .second-line below.*/
  /*Adds red milestones in relevant sections in 1871 FD*/
  /* 5. p, ab, note, fw */
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  /* 6. Additions and Deletions */
  /* 7. Unclear, gap, space */
  /* 7. Editorial */
  /* 8. @rend classes (except colors, lines, and up-down placement) */
  /* 9. Page placement */
  /*Goes with standalone <note>s*/
  /* 10. Colors */
  /* 11. Lists and Tables */
  /* 12. Misc */
}
div.transcription.style-Bambarre-annotations .TEI {
  display: inline-block;
  /*white-space:nowrap;*/
  padding-top: .5em;
  text-align: left;
  padding-left: 1em;
  line-height: 1.5em !important;
}
div.transcription.style-Bambarre-annotations .item-details {
  max-width: 29em !important;
  min-width: 29em;
  white-space: normal;
  padding-top: 1em;
}
div.transcription.style-Bambarre-annotations div.text {
  /*margin-left: 3em;*/
  /*Prevent line numbers from being hidden.*/
  /*Removed*/
}
div.transcription.style-Bambarre-annotations div.body {
  display: block;
  padding-bottom: 2.4em;
}
div.transcription.style-Bambarre-annotations .front,
div.transcription.style-Bambarre-annotations .back {
  display: block;
}
div.transcription.style-Bambarre-annotations .title {
  display: block;
  text-align: center;
  margin-bottom: -0.5em;
  font-size: 1.4em;
  font-variant: small-caps;
}
div.transcription.style-Bambarre-annotations .author {
  display: block;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.2em;
  font-style: italic;
}
div.transcription.style-Bambarre-annotations .authority {
  font-size: .9em;
  line-height: 1.7;
}
div.transcription.style-Bambarre-annotations .pub-date {
  font-size: .9em;
}
div.transcription.style-Bambarre-annotations a:link {
  color: #3774a8 !important;
}
div.transcription.style-Bambarre-annotations .idno {
  font-size: .9em;
  line-height: 1.7;
}
div.transcription.style-Bambarre-annotations hr.title-section {
  width: 100%;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
}
div.transcription.style-Bambarre-annotations .project-id {
  color: #706f6a;
  font-size: .9em;
}
div.transcription.style-Bambarre-annotations .opener,
div.transcription.style-Bambarre-annotations .closer {
  margin-bottom: 0px;
}
div.transcription.style-Bambarre-annotations .opener {
  display: inline;
  margin-top: 1em;
}
div.transcription.style-Bambarre-annotations .closer {
  display: block;
}
div.transcription.style-Bambarre-annotations .dateline {
  display: inline;
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .dateline.center {
  display: inline-block;
}
div.transcription.style-Bambarre-annotations .dateline.right {
  display: block;
}
div.transcription.style-Bambarre-annotations .closer-salute {
  margin-left: 0 !important;
}
div.transcription.style-Bambarre-annotations .signed {
  display: inline-block;
}
div.transcription.style-Bambarre-annotations .address {
  display: block;
}
div.transcription.style-Bambarre-annotations .pb-title {
  display: block;
  color: #3774a8;
  text-decoration: underline;
  font-size: 90%;
  margin-top: 2em;
  margin-bottom: -0.9em;
}
div.transcription.style-Bambarre-annotations .pb-title:first-of-type {
  margin-top: 0;
}
div.transcription.style-Bambarre-annotations p span.pb-title {
  margin-left: 0;
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .lb {
  display: block;
}
div.transcription.style-Bambarre-annotations .linenumber {
  text-align: right;
  float: left;
  color: #8c8b85;
  margin-left: -3em !important;
  /*text-indent:9%;*/
  font-size: 80%;
  width: 1em;
  display: none;
}
div.transcription.style-Bambarre-annotations p .linenumber {
  text-indent: -1%;
}
div.transcription.style-Bambarre-annotations .p.noindent.linenumber {
  text-indent: 1em;
}
div.transcription.style-Bambarre-annotations p.center .linenumber {
  margin-left: -12.5em !important;
  /*Needs to be checked.*/
}
div.transcription.style-Bambarre-annotations p.right .linenumber {
  margin-left: -18em !important;
}
div.transcription.style-Bambarre-annotations .list .linenumber {
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .milestone {
  display: block;
  width: 20em;
  /*1871 FD change, was 60%*/
  background: #FFF;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
  margin-left: 0;
  margin-right: 9%;
  padding: 0px;
  margin-bottom: -1em;
}
div.transcription.style-Bambarre-annotations .line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-annotations .halfline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 10em !important;
  /*1871 FD change, was 18.5em*/
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-annotations .quarterline {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 11em !important;
  margin-left: 0;
  text-align: left;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-annotations .second-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  /*1871 FD change, was 26em*/
  margin-left: 0;
  text-align: left;
  margin-top: 0em;
  /*1871 FD change, was -1em*/
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-annotations .third-line {
  border-bottom: 1px solid #d0d0d0;
  display: block;
  width: 20em !important;
  margin-left: 0;
  text-align: left;
  margin-top: 1.5em;
  height: 0;
  border: 0;
  border-top: 1px solid #58484b;
}
div.transcription.style-Bambarre-annotations .div.red .line,
div.transcription.style-Bambarre-annotations .div.red .line.first-double,
div.transcription.style-Bambarre-annotations .div.red .halfline,
div.transcription.style-Bambarre-annotations .div.red .quarterline,
div.transcription.style-Bambarre-annotations .div.red .second-line,
div.transcription.style-Bambarre-annotations .div.red .third-line {
  border-top: 1px solid #B33B24;
}
div.transcription.style-Bambarre-annotations p {
  margin-right: 2em;
}
div.transcription.style-Bambarre-annotations .p {
  display: inline-block;
  text-indent: 0px;
  /*Changed to 0 for 1871 FD, was 25px*/
  margin-top: 0;
  margin-bottom: 0;
}
div.transcription.style-Bambarre-annotations .p.noindent {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-annotations .p.center {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-annotations .p.right {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-annotations .p.other {
  color: #58484b !important;
  padding-bottom: .5em;
}
div.transcription.style-Bambarre-annotations .p.other.noindent {
  padding-left: 0em !important;
}
div.transcription.style-Bambarre-annotations .p.other.other {
  padding-left: 2em;
}
div.transcription.style-Bambarre-annotations .p.small.other.noindent {
  max-width: 34em;
  min-width: 34em;
}
div.transcription.style-Bambarre-annotations .ab {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0;
}
div.transcription.style-Bambarre-annotations .head {
  font-weight: 300;
}
div.transcription.style-Bambarre-annotations .note {
  display: inline;
}
div.transcription.style-Bambarre-annotations .fw {
  display: inline-block;
}
div.transcription.style-Bambarre-annotations .fw.pageno {
  text-indent: 0 !important;
}
div.transcription.style-Bambarre-annotations .fw.catch.left {
  margin-left: 0;
  /*AW revisit*/
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .fw.catch.right {
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .addmargin {
  text-indent: 0px;
}
div.transcription.style-Bambarre-annotations .del,
div.transcription.style-Bambarre-annotations .cancelled,
div.transcription.style-Bambarre-annotations .strikethrough,
div.transcription.style-Bambarre-annotations .overwritten {
  text-decoration: line-through;
}
div.transcription.style-Bambarre-annotations .del-by-over-text {
  color: #706f6a;
  text-decoration: line-through;
}
div.transcription.style-Bambarre-annotations .unclear {
  color: #706f6a;
  border-bottom: 1px dotted #706f6a;
}
div.transcription.style-Bambarre-annotations .gap {
  border-bottom: 1px dotted black;
}
div.transcription.style-Bambarre-annotations .space-other {
  border-bottom: 1px dotted black;
  display: block;
}
div.transcription.style-Bambarre-annotations .verticalSpace {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-indent: 0;
}
div.transcription.style-Bambarre-annotations .sic,
div.transcription.style-Bambarre-annotations .corr {
  border-bottom: 2px #B33B24 dotted;
}
div.transcription.style-Bambarre-annotations .orig,
div.transcription.style-Bambarre-annotations .reg {
  /*border-bottom:1px green dotted*/
}
div.transcription.style-Bambarre-annotations .abbr,
div.transcription.style-Bambarre-annotations .expan {
  border-bottom: 1px green dotted;
}
div.transcription.style-Bambarre-annotations .expan {
  display: none;
}
div.transcription.style-Bambarre-annotations .hidden {
  display: none;
}
div.transcription.style-Bambarre-annotations .rdg {
  display: block;
}
div.transcription.style-Bambarre-annotations .caps {
  font-variant: small-caps;
}
div.transcription.style-Bambarre-annotations .center {
  text-indent: 0;
  margin-left: 6em;
}
div.transcription.style-Bambarre-annotations .doubleunderline {
  border-bottom: 3px double;
}
div.transcription.style-Bambarre-annotations .tripleunderline {
  border-bottom: 4px double;
  text-decoration: underline;
}
div.transcription.style-Bambarre-annotations .inline {
  /*color:#706f6a;*/
}
div.transcription.style-Bambarre-annotations .italic {
  font-style: italic;
}
div.transcription.style-Bambarre-annotations .large {
  font-size: 120%;
}
div.transcription.style-Bambarre-annotations .other {
  color: #3774a8 /*#3774a8*/;
}
div.transcription.style-Bambarre-annotations .overline {
  text-decoration: overline;
}
div.transcription.style-Bambarre-annotations .overline.underline {
  text-decoration: overline underline;
}
div.transcription.style-Bambarre-annotations .overtext {
  /*color:#706f6a;*/
}
div.transcription.style-Bambarre-annotations .right {
  text-indent: 0;
  margin-left: 12em;
}
div.transcription.style-Bambarre-annotations .small {
  font-size: 85%;
}
div.transcription.style-Bambarre-annotations .smallcaps {
  font-variant: small-caps;
}
div.transcription.style-Bambarre-annotations .underline {
  text-decoration: underline;
}
div.transcription.style-Bambarre-annotations .upsidedown {
  /*-ms-transform:rotate(180deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(180deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(180deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(180deg);*/
  /* Opera */
}
div.transcription.style-Bambarre-annotations .vertical {
  /*-ms-transform:rotate(90deg);*/
  /* IE 9 */
  /*-moz-transform:rotate(90deg);*/
  /* Firefox */
  /*-webkit-transform:rotate(90deg);*/
  /* Safari and Chrome */
  /*-o-transform:rotate(90deg);*/
  /* Opera */
}
div.transcription.style-Bambarre-annotations .above,
div.transcription.style-Bambarre-annotations .below,
div.transcription.style-Bambarre-annotations .bottom,
div.transcription.style-Bambarre-annotations .sub,
div.transcription.style-Bambarre-annotations .sup,
div.transcription.style-Bambarre-annotations .top {
  /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
         the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
  vertical-align: baseline;
}
div.transcription.style-Bambarre-annotations .above,
div.transcription.style-Bambarre-annotations .sup,
div.transcription.style-Bambarre-annotations .top {
  /* Move the superscripted text up */
  top: -0.5em;
}
div.transcription.style-Bambarre-annotations .below,
div.transcription.style-Bambarre-annotations .bottom,
div.transcription.style-Bambarre-annotations .sub {
  /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
  bottom: -0.25em;
}
div.transcription.style-Bambarre-annotations .margintop {
  margin-left: 0;
  color: #706f6a;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -1em;
}
div.transcription.style-Bambarre-annotations .true {
  display: inline-block;
}
div.transcription.style-Bambarre-annotations .black {
  color: black;
}
div.transcription.style-Bambarre-annotations .blue {
  color: blue;
}
div.transcription.style-Bambarre-annotations .brown {
  color: brown;
}
div.transcription.style-Bambarre-annotations .gray {
  color: #706f6a;
}
div.transcription.style-Bambarre-annotations .green {
  color: green;
}
div.transcription.style-Bambarre-annotations .orange {
  color: orange;
}
div.transcription.style-Bambarre-annotations .purple {
  color: purple;
}
div.transcription.style-Bambarre-annotations .red {
  color: #B33B24;
}
div.transcription.style-Bambarre-annotations .yellow {
  color: yellow;
}
div.transcription.style-Bambarre-annotations .list {
  display: block;
  margin-top: 12px;
}
div.transcription.style-Bambarre-annotations table {
  font-size: 1em;
  /*85%;*/
  /*Changed for 1870 Field Diary*/
  border-style: none;
  margin-right: 2em;
  /*Needed so that the text doesn't run up against the right edge in the viewer.*/
  color: #58484b;
  /*Added color for 1870 Field Diary*/
}
div.transcription.style-Bambarre-annotations tr,
div.transcription.style-Bambarre-annotations td {
  border-style: none;
}
div.transcription.style-Bambarre-annotations .figure {
  /*margin-left:9%;*/
  /*1871 FD, removed*/
  color: #706f6a;
  font-size: .8em;
  border-bottom: 1px #706f6a dotted;
}
div.transcription.style-Bambarre-annotations .p .figure,
div.transcription.style-Bambarre-annotations .p.noindent .figure,
div.transcription.style-Bambarre-annotations .ab .figure {
  margin-left: 0px !important;
  text-indent: 0px;
}
div.transcription.style-Bambarre-annotations .metamark {
  color: #706f6a;
  border-bottom: 1px #706f6a dotted;
}
div.transcription.style-Bambarre-annotations p .metamark {
  margin-left: 0px !important;
  text-indent: 0px !important;
}
div.transcription.style-Bambarre-annotations .foreign,
div.transcription.style-Bambarre-annotations .geogName,
div.transcription.style-Bambarre-annotations .persName,
div.transcription.style-Bambarre-annotations .orgName,
div.transcription.style-Bambarre-annotations .quote,
div.transcription.style-Bambarre-annotations .region,
div.transcription.style-Bambarre-annotations .settlement,
div.transcription.style-Bambarre-annotations .term-ailment,
div.transcription.style-Bambarre-annotations .term-tribe {
  border-bottom: 2px #3774a8 dotted;
  /* change to 1px */
}
