/* 

Table of Contents
-----------------
1. Textual divisions 
1.5 Title section
2. Letters 
3. pb, lb, linenumber 
4. Milestone and lines 
5. p, ab, note, fw 
6. del, unclear, gap, space 
7. Editorial 
8. @rend classes (except lines, page placement, colors) 
9. Page placement 
10. Colors 
11. Lists and Tables 
12. Misc 

* /


/* 1. Textual divisions */

body{
	background:#ccc2b2;
}
div.transcription{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family:"source sans pro", calibri, arial, helvetica, sans-serif;
	font-size:1em;
	/*white-space: nowrap;*/
}
.TEI{
	display:inline-block;
	white-space:nowrap;
	padding-top:.5em;
	text-align:left;
}
@media all and (max-width: 600px)  {
.TEI{	
	padding-left:1em;
}
}
.item-details{
	max-width:30em;
	min-width:30em;
	white-space:normal;
}
div.body{
	display:block;
	padding-bottom:2.4em;
	padding-left:3.5em;
}
.front,
.back{
	display:block;
}


/* 1.5. Title section */

.title{
	display:block;
	text-align:center;
	margin-bottom:-.5em;
	font-size:1.4em;
	font-variant:small-caps;
}
.author{
	display:block;
	text-align:center;
	margin-bottom:.5em;
	font-size:1.2em;
	font-style:italic;
}
.authority{
	font-size:.9em;
	line-height:1.7;
}
.pub-date{
	font-size:.9em;
}
a:link{
	color:#428bca !important;
}
.idno{
	font-size:.9em;
	line-height:1.7;
}
hr.title-section{
	width:27em;
	height:0;
	border:0;
	border-top:1px solid #666666;	
	margin-top:-.4em;
	margin-bottom:-.4em;
	margin-left:3.5em;
}
.project-id,
.project-encoding,
.encoding-standard{
	display:inline-block;
	padding-left:4em;
	padding-bottom:.4em;
	font-size:.9em;
	color:#666666;
	line-height:170%;
}
.project-encoding{
	line-height:140% !important;
  	margin-left:30px;
  	text-indent:-30px;	
}


/* 2. Letters */

.opener,
.closer,
.trailer{
	margin-bottom:0px;
}
.opener{
	display:inline;
	margin-top:1em;
}
.closer,
.address{
	display:block;
}
.dateline{
	display:inline;
	text-indent:0;
}
.signed{
	display:inline-block;
}


/* 3. pb, lb, linenumber */

.pb-title{
	display:block;
	color:#428bca;
	font-size:90%;
	margin-top:2em;
	margin-bottom:-.9em;
	margin-left:0;
	text-indent:0;
}
.pb-title:hover{
	color:#AAA;
	cursor:pointer
}
.pb-title:first-of-type{
  	margin-top: 1em;
}/*This is to prevent scrolling up when the first image opens. AW*/
.lb{
	display:block;
}
.linenumber{
	text-align:right;
	float:left;
	color:#666666;
	margin-left:-3em !important;
	/*text-indent:9%;*/
	font-size:.8em;
	width:1em;
}
p .linenumber{
	text-indent:-1%;
}
.p.noindent.linenumber{
	text-indent:1em;
}
p.center .linenumber{
	margin-left:-6.4em !important;
}
p.right .linenumber{
	margin-left:-10.5em !important;
}
.list .linenumber{
	text-indent:0;	
}


/* 4. Milestone and lines */

.milestone{/*check all of this against 1870 viewer*/
	display:block;
	width:60%;
	background:#FFF;
	height:0;
	margin-left:0;
	margin-right:9%;
	margin-top:-.5em;
	margin-bottom:-.5em;
	padding:0px;
}
.line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:27em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.doubleline{
	border-top: 4px double #8c8b8b;
	display:block;
	width:27em !important;
	margin-left:9%;
	text-align:left;
}
.tripleline{
	border-top: 4px double #8c8b8b;
	line-height:1.9em;
	display:block;
	width:27em !important;
	margin-left:9%;
	text-align:left;
}
.halfline{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:17.5em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.quarterline{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:11em !important;
	margin-left:0;
	text-align:left;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.second-line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:27em !important;
	margin-left:0;
	text-align:left;
	margin-top:-1em;
	margin-bottom:0em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}
.third-line{
	border-bottom:1px solid #d0d0d0;
	display:block;
	width:27em !important;
	margin-left:0;
	text-align:left;
	margin-top:1.5em;
	height:0;
	border:0;
	border-top:1px solid #58484b;
}


/* 5. p, ab, note, fw */

p{
	margin-right: 2em;
}/*Needed so that the text doesn't run up against the right edge in the viewer.*/
.p{
	display:inline-block;
	text-indent:25px;
	margin-top:0;
	margin-bottom:0;	
}
.p.noindent,
.p.center,
.p.right{
	text-indent:0 !important;
}
.p.right{
	margin-left:6em !important;
}
.ab{
	text-indent:0;
	margin-top:0;
	margin-bottom:0;
}
.head{
	font-weight:normal;
}
.note{
	display:inline;
}
.fw{
	display:inline-block;
}
.fw.pageno{
	text-indent:0 !important;
}
.fw.catch.right{
	margin-left:14em;
	text-indent:0;
}


/* 6. del, unclear, gap, space */

.del,
.del-by-over-text{
	text-decoration:line-through;
	/*color:#666666;*//*Previously used for .del-by-over-text*/
}
.pb-del{
	display:inline-block;
	margin-bottom:.5em;
}
.unclear{
	color:#666666;
	border-bottom:1px dotted #666666;
}
.gap{
	border-bottom:1px dotted black;
}
.space-other{
	border-bottom:1px dotted black;
	display:block;
}
.verticalSpace{
	display:inline-block;
	border-bottom:1px dotted black;
	text-indent:0;
}


/* 7. Editorial */

.sic,
.corr{
	border-bottom:2px #B33B24 dotted
}
.abbr,
.expan{
	border-bottom:1px green dotted
}
.expan,
.hidden{
	display:none;
}
.rdg{
	display:block;
}


/* 8. @rend classes (except colors, lines, and up-down placement) */

.bold{
	font-weight:600;
}
.caps{
	font-variant:small-caps;
}
.center{
	text-indent:0;
	margin-left:2.7em;
}
.doubleunderline{
	border-bottom:3px double;
}
.tripleunderline{
	border-bottom:4px double;
	text-decoration:underline;
}
.italic{
	font-style:italic;
}
.large{
	font-size:120%;
}
.overline{
	text-decoration: overline;
}
.overline.underline{
	text-decoration:overline underline;
}
.right{
	text-indent:0;
	margin-left:4em;
}
.small{
	font-size:.85em;
}
.smallcaps{
	font-variant:small-caps;
}
.underline{
	text-decoration:underline;
}
.upsidedown{
	/*-ms-transform:rotate(180deg);*/ /* IE 9 */
	/*-moz-transform:rotate(180deg);*/ /* Firefox */
	/*-webkit-transform:rotate(180deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(180deg);*/ /* Opera */
}
.vertical{
	/*-ms-transform:rotate(90deg);*/ /* IE 9 */
	/*-moz-transform:rotate(90deg);*/ /* Firefox */
	/*-webkit-transform:rotate(90deg);*/ /* Safari and Chrome */
	/*-o-transform:rotate(90deg);*/ /* Opera */
}


/* 9. Page placement */

.above,
.below,
.bottom,
.sub,
.sup,
.top{
	/* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
	font-size:.8em;

	/* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
	line-height:0;

	/* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
	position:relative;

	/* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
	vertical-align:baseline;
}
.above,
.sup,
.top{
	/* Move the superscripted text up */
	top:-0.35em;
}
.below,
.bottom,
.sub{
	/* Move the subscripted text down, but only
     half as far down as the superscript moved up */
	bottom:-0.25em;
}
.true{
	display:inline-block;
}/*Goes with standalone <note>s*/


/* 10. Colors */

.black{
	color:black;
}
.blue{
	color:blue;
}
.brown{
	color:brown;
}
.gray{
	color:#666666;
}
.green{
	color:green;
}
.orange{
	color:orange;
}
.purple{
	color:purple;
}
.red{
	color:#B33B24;
}
.yellow{
	color:yellow;
}


/* 11. Lists and Tables */
.list{
	display:block;
}
table{
	font-size:.85em;
	border-style:none;
	margin-right: 2em; 
}/*Last item needed so that the text doesn't run up against the right edge in the viewer.*/
tr,
td{
	border-style:none;
}


/* 12. Misc */

.figure{
	margin-left:0;
	color:#666666;
	font-size:.8em;
	border-bottom:1px #666666 dotted;
}
.p .figure,
.p.noindent .figure,
.ab .figure,
p .metamark{
	margin-left:0px !important;
	text-indent:0px;
}
.metamark{
	color:#666666;
	border-bottom:1px #666666 dotted;
}
.foreign,
.geogName,
.persName,
.orgName,
.quote,
.region,
.settlement,
.term-ailment,
.term-tribe{
	border-bottom:2px #428bca dotted; /* change to 1px */
}